@@include('view/navbar/navbar.css')
@@include('view/units/units.css')
@@include('view/unit/unit.sidebar.css')
@@include('view/unit/unit.content.css')
@@include('view/unit/unit.resources.css')
@@include('view/summary/summary.css')
@@include('view/note/note.css')
@@include('view/note/note.editor.css')
@@include('view/analytics/analytics.css')

@@include('view/breadcrumb/breadcrumb.css')


.theme-destacados {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.theme-text {
  font-size: 20px;
  color: #000000;
}

.theme-text-medium {
  font-size: 16px;
  color: #666666;
}

.theme-list-dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #00B53F;
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

.sm-dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #FFFFFF;
  background: transparent linear-gradient(45deg, #004B18 0%, #017E29 100%);
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  position: absolute;
  left: 0;
  margin-top: -5px;
  font-weight: 600;
}