:root {
  --global-bg-color: #0F406A;
  --global-color: #FFFFFF;
  --global-sec-bg-color: #2B74B2;
  --global-sec-color: #FFFFFF;

  --panel-list-bg-color: #EDEDED;
  --panel-list-color: #666666;
  --panel-list-border-color: rgba(0, 0, 0, 0.125);
}


html[data-theme='green'] {
  --global-bg-color: #004B18;
  --global-sec-bg-color: #00B53F;
}

.panel-list {
  background-color: var(--panel-list-bg-color);
  color: var(--panel-list-color);
}

.panel-list .list-group-item:before {
  border-color: var(--panel-list-border-color)!important;
}

.color-primary {
  background-color: var(--global-bg-color);
  color: #FFFFFF;
}

.color-secondary {
  background-color: var(--global-sec-bg-color);
  color: #FFFFFF;
}

.color-secondary:hover {
  color: #FFFFFF;
}

.color-light {
  background-color: #FFFFFF;
  color: #0F406A;
}

.font-title {
  font-size: 30px;
  color: #000000;
  font-weight: 600;
}

.font-subtitle {
  font-size: 24px;
  color: #2B74B2;
  font-weight: 600;
}

.font-text {
    font-size: 20px;
    color: #666666;
}

.font-text-think {
  font-size: 20px;
  color: #666666;
  font-weight: 100;
}

.font-text-bold {
  font-size: 20px;
  color: #666666;
  font-weight: 600;
}

.font-text-small {
  font-size: 14px;
  color: #666666;
  font-weight: 100;
}

.font-button {
  font-size: 16px;
}

.font-button-big {
  font-size: 20px;
}

.font-button {
  font-size: 14px;
}