*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box
}

html, body,
.netex h1, .netex h2, .netex h3, .netex h4, .netex h5, .netex h6, .netex p, .netex blockquote, .netex pre, .netex dl, .netex dd, .netex ol, .netex ul, .netex form, .netex fieldset, .netex legend, .netex table, .netex th, .netex td, .netex caption, .netex hr {
  margin: 0;
  padding: 0
}

.netex h1, .netex h2, .netex h3, .netex h4, .netex h5, .netex h6, .netex em, .netex strong, .netex cite {
  font-weight: normal;
  font-style: normal
}

.netex h1, .netex h2, .netex h3, .netex h4, .netex h5, .netex h6 {
  font-size: 100%
}

.netex sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

.netex img {
  border: 0
}

.netex img {
  max-width: 100%;
  vertical-align: bottom
}

.netex ul, .netex ol {
  list-style-position: outside;
  margin-left: 1.3em
}

.netex ul {
  list-style-type: disc
}

.sm-list-circle {
  list-style: circle
}

.sm-list-lower {
  list-style: lower-alpha
}

.sm-list-upper {
  list-style: upper-alpha
}


html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: 'Open Sans', sans-serif;
}

.netex {
}

.netex em {
  font-style: italic;
}

.netex strong {
  font-weight: bold;
}

.netex em strong, .netex strong em {
  font-style: italic;
  font-weight: bold;
}

.netex sup, .netex sub {
  vertical-align: baseline;
  position: relative;
  top: -0.28571em;
  font-size: .77778em
}

.netex sub {
  top: .28571em
}

.netex p, .netex li {
  line-height: 1.22222em;
  margin-bottom: 1em
}

.sm-text-seromedium {
	font-weight: 500;
}

.sm-text-seromedium em {
  font-weight: 500;
  font-style: italic;
}

.sm-text-seromedium strong {
  font-weight: 600;
}

.sm-text-seromedium em strong, .sm-text-seromedium strong em {
  font-weight: 600;
  font-style: italic;
}

.sm-navbar-name-small {
  font-size: .75em
}

.sm-navbar-name-title {
  font-weight: bold;
  font-size: 1em
}

.sm-sidebar-box > a {
  font-weight: 600;
  font-size: .875em
}

.sm-sidebar-index a, .sm-sidebar-bookmark a {
  font-size: .875em
}

.sm-subject-title {
  font-weight: bold;
  font-size: 2.8125em;
  line-height: 1em
}

.sm-subject-title em {
  font-weight: bold;
  font-style: italic;
}

.sm-subject-subtitle {
  font-size: .875em
}

.sm-subject-pretitle {
  font-weight: bold;
  font-size: 1.4375em
}

.sm-subject-summary-header h3 {
  font-weight: bold;
  font-size: 1.4375em;
  line-height: 1.04348em
}

.sm-subject-summary-header em {
  font-weight: bold;
  font-style: italic;
}

.sm-subject-summary-content {
  font-size: 1.125em
}

.sm-subject-summary-content h3 {
  font-size: 1.27778em;
  font-weight: 600;
  margin-bottom: .78261em;
  margin-top: .78261em;
}

.sm-subject-summary-content h3 em {
  font-weight: 600;
  font-style: italic;
}

.sm-subject-summary p:last-child, .sm-subject-summary ol:last-child li:last-child, .sm-subject-summary ul:last-child li:last-child {
  margin-bottom: 0
}

.sm-title-unit {
    font-size: 2.25em;
  font-weight: bold;
    float: left;
    padding-right: 2vw;
}

.sm-title-kicker {
  font-size: 1.4375em;
  font-weight: 600;
}

.sm-title-kicker em {
  font-weight: 600;
  font-style: italic;
}

.sm-title-kicker strong {
  font-weight: bold;
}

.sm-title-kicker em strong, .sm-title-kicker strong em {
  font-weight: bold;
  font-style: italic;
}

.sm-section-title h2 {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.sm-section-title h2 em {
  font-weight: bold;
  font-style: italic;
}

.sm-section-subtitle h2 {
  font-size: 1.20em;
  font-weight: bold;
  margin: 0;
}

.sm-section-subtitle h2 em {
  font-weight: bold;
  font-style: italic;
}

.sm-section-content h3 {
  font-size: 1.27778em;
  font-weight: 600;
}

.sm-section-content h3 em {
  font-weight: 600;
  font-style: italic;
}

.sm-section-content:last-child p:last-child, .sm-section-content:last-child ol:last-child li:last-child, .sm-section-content:last-child ul:last-child li:last-child {
  background-color: red
}

.sm-reading-text, .sm-reading-text-author {
}

.sm-reading-text {
  font-size: 1.11111em
}

.sm-reading-text p {
  margin-bottom: .7em
}

.sm-reading-text-author {
  font-size: .83333em;
  text-align: right
}

.sm-reading-text em, .sm-reading-text-author em {
  font-style: italic;
}

.sm-reading-text strong, .sm-reading-text-author strong {
  font-weight: bold;
}

.sm-reading-text em strong, .sm-reading-text strong em, .sm-reading-text-author em strong, .sm-reading-text-author strong em {
  font-weight: bold;
  font-style: italic;
}

.sm-media-caption {
  font-size: .83333em
}

.sm-media-caption p:last-child {
  margin-bottom: 0
}

.sm-media-list {
  font-weight: 600;
}

.sm-activity h3 {
  font-weight: 600;
  font-size: 1.27778em;
  margin-bottom: .78261em
}

.sm-activity h3 em {
  font-weight: 600;
  font-style: italic;
}

.sm-highlight p:last-child, .sm-highlight ul:last-child li:last-child, .sm-highlight ol:last-child li:last-child {
  margin-bottom: 0
}

table p:last-child {
  margin-bottom: 0
}

.sm-arrowbox-header h3 {
  font-weight: bold;
  font-size: 1.75em
}

.sm-arrowbox p:last-child, .sm-arrowbox ul:last-child li:last-child, .sm-arrowbox ol:last-child li:last-child {
  margin-bottom: 0
}

.sm-nutgraph-header {
  font-weight: 600;
  font-size: 1.27778em
}

.sm-nutgraph-header em {
  font-weight: 600;
  font-style: italic;
}

.sm-nutgraph-header strong {
  font-weight: bold;
}

.sm-nutgraph-header em strong .sm-nutgraph-header strong em {
  font-weight: bold;
  font-style: italic;
}

.sm-reading-text .sm-pullbox {
  font-size: .9em
}

.sm-nutgraph p:last-child, .sm-nutgraph ul:last-child li:last-child, .sm-nutgraph ol:last-child li:last-child {
  margin-bottom: 0
}

.sm-modal-content p:last-child {
  margin-bottom: 0
}

.sm-gallery-footer {
  font-size: .9375em
}

.sm-gallery-footer p {
  margin-bottom: 0
}

.sm-gallery-counter {
  font-weight: 600;
}

.sm-footer {
  font-size: .9375em
}

.sm-outline, .sm-teachercontent {
  margin-right: 0
}

.sm-navbar-ui {
  display: inline-block;
  height: 28px;
  vertical-align: middle;
  width: 26px
}
/*
.sm-fullscreen-icon {
  background-position: -130px 0
}*/

.sm-highlight-icon {
  background-position: -26px 0
}

.sm-teachercontent-icon {
  background-position: -103px 0
}

.sm-teachercontent-visible .sm-teachercontent-icon {
  background-position: -77px 0
}

.sm-nav {
  height: 75px;
  margin-top: -37px;
  position: fixed;
  top: 50%;
  width: 37px
}

.sm-nav-prev {
  left: 0
}

.sm-nav-next {
  right: 0
}

.sm-nav-arrow {
  background-color: #333;
  font-size: 0;
  height: 75px;
  line-height: 75px;
  position: absolute;
  text-align: center;
  -webkit-transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
  width: 37px;
  z-index: 2
}

.sm-arrow-prev, .sm-arrow-next {
  display: inline-block;
  height: 29px;
  vertical-align: middle;
  width: 18px
}

.sm-arrow-prev {
  background-position: -441px -101px
}

.sm-arrow-next {
  background-position: -462px -101px
}

.sm-nav:hover .sm-nav-arrow {
  background-color: #8ac543
}

.sm-nav-title {
  background-color: #333;
  color: #fff;
  height: 75px;
  padding: 22px 16px;
  position: absolute;
  width: 174px
}

.sm-nav-prev .sm-nav-title {
  left: -175px;
  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out
}

.sm-nav-prev:hover .sm-nav-title {
  left: 37px
}

.sm-nav-next .sm-nav-title {
  right: -175px;
  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out
}

.sm-nav-next:hover .sm-nav-title {
  right: 37px
}

.sm-sidebar {
  background-color: #202020;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  width: 310px;
  z-index: 2
}

.sm-sidebar-item:first-child {
  margin-top: 45px
}

.sm-sidebar-item {
  border-bottom: 1px solid #000;
  list-style: none;
  margin: 0;
  padding: 0
}

.sm-sidebar-box {
  border-left: 4px solid #959595;
  padding-left: 15px
}

.sm-sidebar-box:hover {
  border-left-color: #8ac543
}

.sm-sidebar-item a {
  color: #959595;
  text-decoration: none
}

.sm-sidebar-item a:hover {
  color: #fff
}

.sm-sidebar-item a.sm-selected {
  color: #fff
}

.sm-sidebar-box > a {
  display: block;
  height: 46px;
  padding: 10px 0
}

.sm-sidebar-item > a .sm-sidebar-ui {
  margin-right: 20px
}

.sm-sidebar-subnav {
  margin-left: 50px
}

.sm-sidebar-index ol {
  list-style: none;
  margin-left: 0
}

.sm-sidebar-index li {
  margin-bottom: 0
}

.sm-sidebar-index a {
  display: block;
  padding: 10px 0
}

.sm-bookmark-item {
  padding: 10px 0
}

.sm-bookmark-item:last-child {
  margin-bottom: 0
}

.sm-bookmark-box {
  background-color: transparent;
  border: 1px solid #808080;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  width: 190px
}

.netex input.sm-bookmark-box {
  background-color: transparent;
  border-color: #fff
}

.sm-sidebar-ui {
  display: inline-block;
  height: 28px;
  margin-right: 20px;
  vertical-align: bottom;
  width: 26px
}

.sm-index-icon {
  background-position: 0 0
}

.sm-bookmark-icon {
  background-position: -52px 0
}

.sm-delete-icon {
  background-position: -26px -28px
}

.sm-add-icon {
  background-position: 0 -28px
}

.sm-sidebar {
  -webkit-transform: translate3d(-310px, 0px, 0px);
  -moz-transform: translate3d(-310px, 0px, 0px);
  -o-transform: translate3d(-310px, 0px, 0px);
  transform: translate3d(-310px, 0px, 0px);
  -webkit-transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) .5s;
  -moz-transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) .5s;
  transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) .5s
}

.sm-sidebar-show {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px)
}

.sm-sidebar-subnav {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .3s cubic-bezier(0.8, 0, 0.2, 1) .5s;
  -moz-transition: max-height .3s cubic-bezier(0.8, 0, 0.2, 1) .5s;
  transition: max-height .3s cubic-bezier(0.8, 0, 0.2, 1) .5s
}

.sm-subnav-show {
  max-height: 9999px
}

.sm-subject {
  background-color: #8ac543;
  min-height: 100%;
  padding-top: 90px;
  padding-bottom: 45px;
  width: 100%
}

.sm-subject-special {
  background-color: #ef5987
}

.sm-content {
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  margin: auto;
  max-width: 710px;
  padding-top: 30px;
  position: relative;
  width: 90%
}

.sm-line:before, .sm-line:after {
  content: "";
  display: table
}

.sm-line:after {
  clear: both
}

.sm-block {
  float: left;
  margin-left: 5%
}

.sm-block:first-child {
  margin-left: 0
}

.sm-block-1 {
  width: 30%
}

.sm-block-1-5 {
  width: 47.5%
}

.sm-block-2 {
  width: 65%
}

.sm-textblock {
  float: right;
  margin-left: 5%;
  width: 47.5%
}

.sm-subject-badge {
  float: left;
}

.sm-subject-title {
  padding-right: 45px;
  margin-bottom: 23px
}

.sm-subject-pretitle {
  color: #8ac543;
  padding-right: 45px;
  margin-left: 242px;
  margin-bottom: 0;
  margin-top: -18px
}

.sm-subject-subtitle {
  padding-right: 45px;
  margin-left: 242px;
  margin-bottom: 18px;
  margin-top: -23px
}

.sm-cover {
  margin: 0 auto;
  position: relative
}

.sm-cover-viatge {
  background-position: -494px -1px;
  bottom: 40px;
  height: 118px;
  left: 80px;
  position: absolute;
  width: 116px
}

.sm-subject-summary {
	background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}

.sm-subject-summary-header {
  height: 67px;
  padding: 10px 30px;
  top: -30px
}

.sm-subject-summary-header h3 span {
  color: #000;
  padding-left: 30px
}

.sm-summary-ribbon {
  background-position: -162px -101px;
  height: 97px;
  left: -15px;
  position: absolute;
  top: 0;
  width: 15px
}

.sm-subject-summary-content {
  padding: 4%
}

.sm-subject-summary-header ~ .sm-subject-summary-content {
  padding-top: 50px
}

.sm-subject-summary-content h3 {
  color: #ef5987
}

.sm-section-title,
.sm-section-subtitle {
    position: relative;
}

.sm-section-title:first-child {
  margin-top: 0
}


.sm-title-kicker {
  padding-left: 1.6vw
}

.sm-section-title h2 {
  color: #000000;
  padding-left: 60px;
}

.sm-title-kicker + h2 {
  padding-top: 0
}

.sm-section-title-third .sm-title-arrow {
  background-position: -22.4vw -0.1vw
}

.sm-section-title-third h2 {
  color: #00b0c4
}


.sm-subtitle-arrow {
  position: relative
}

.sm-subtitle-arrow-part {
  display: inline-block;
  vertical-align: top
}

.sm-subtitle-arrow-end {
  background-position: -30.3vw -0.1vw;
  width: 3.3vw
}

.sm-section-subtitle-secondary .sm-subtitle-arrow-end {
  background-position: -35.5vw -0.1vw
}

.sm-section-subtitle-secondary .sm-subtitle-arrow-middle {
  background-color: #ef5987
}

.sm-section-content {
  position: relative;
}

.sm-section-content p {
  margin-bottom: 20px;
  font-size: 20px;
  color: #666666;
}

.sm-section-content:before, .sm-section-content:after {
  content: "";
  display: table
}

.sm-section-content:after {
  clear: both
}

.sm-section-content > h3 {
  margin-bottom: .78261em;
  margin-top: 1.73913em
}

.sm-section-content > h3:first-child {
  margin-top: .95652em
}

.sm-footer {
  border-top-style: solid;
  border-width: 1px;
  height: 7.0vw;
  margin: 14vw 4.5vw 0 4.5vw;
  position: relative
}

.sm-footer-click {
  position: relative;
  top: -3vw;
  text-decoration: none;
  color: #333
}

.sm-footer-click + .sm-footer-click {
  margin-left: 1vw
}

.sm-click-icon {
  background-position: -6.13vw -5.6vw;
  display: inline-block;
  height: 2.5vw;
  margin-right: 0.6vw;
  vertical-align: text-bottom;
  width: 2.9vw
}

.sm-footer {
  border-color: #ccc
}

.sm-reading-text-author {
  margin-top: 1.2em
}

.sm-activity-item:before, .sm-activity-item:after {
  content: "";
  display: table
}

.sm-activity-item:after {
  clear: both
}

.sm-activity-item {
  margin-bottom: 1.8vw;
  position: relative
}

.sm-activity-item:last-child {
  margin-bottom: 0
}

.sm-activity-teachermark {
  background-position: -23.1vw -10.1vw;
  height: 4vw;
  position: absolute;
  right: -5.2vw;
  top: 0;
  width: 4.2vw;
  display:none;
}

.sm-activity-teachermark-visible {
  background-position: -33vw -13vw;
}

.sm-arrowbox .sm-activity-teachermark {
  right: -9vw;
}

.sm-activity-list {
  float: left;
  margin-top: -0.3vw;
  width: 2.8vw;
}

.sm-activity-list span {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  display: block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  width: 28px
}

.sm-activity-content {
  float: left;
  margin-left: 10px;
  width: -moz-calc(100% - 38px);
  width: -webkit-calc(100% - 38px);
  width: calc(100% - 38px)
}

.sm-activity-list span {
  background-color: #8ac543
}

.sm-activity-secondary .sm-activity-list span {
  background-color: #ef5987
}

.sm-activity h3 {
  color: #8ac543
}

.sm-activity-secondary h3 {
  color: #ef5987
}

.sm-highlight {
  background-color: #f8c2cf;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 18px;
  position: relative
}

.sm-highlight-content {
  padding: 2.2vw 3.6vw
}

.sm-highlight-flap {
  background-position: -27.4vw -10.0vw;
  bottom: -0.2vw;
  height: 2.2vw;
  position: absolute;
  right: -0.2vw;
  width: 2.2vw
}

.sm-highlight-content h3 {
  margin-bottom: .78261em
}

.sm-panel {
  margin-bottom: 1.8vw;
  padding-left: 1vw;
  position: relative
}

.sm-panel-triangle:after {
  border: 1vw solid transparent;
  content: " ";
  height: 0;
  left: -1vw;
  position: absolute;
  pointer-events: none;
  top: 0.2vw;
  width: 0
}

.sm-panel {
  border-left: 1vw solid #8ac543
}

.sm-activity .sm-panel {
  border-left: 1vw solid #ef5987
}

.sm-panel-triangle, .sm-activity .sm-panel-triangle {
  border-left-color: #fff
}

.sm-panel-triangle:after {
  border-left-color: #8ac543
}

.sm-activity .sm-panel-triangle:after {
  border-left-color: #ef5987
}

.sm-arrowbox {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position: relative
}

.sm-arrowbox-header {
  text-align: right;
}

.sm-arrowbox-part {
  display: inline-block;
  vertical-align: top
}

.sm-arrowbox-end {
  display:none;
}

.sm-arrowbox-start {
  display:none;
}

.sm-arrowbox-secondary {
  border-color: #ef5987
}

.sm-arrowbox-secondary .sm-arrowbox-middle {
  background-color: #ef5987
}

.sm-arrowbox-secondary .sm-arrowbox-start {
  background-position: -47.7vw -1px
}

.sm-media {
  margin-bottom: 1.8vw
}

.sm-media-caption {
  background-color: #f5f5f5;
  padding: 1.5vw
}

.sm-media-content {
  position: relative
}

.sm-media img {
  display: block
}

.sm-media-actions {
  font-size: 0;
  left: 0;
  padding: 0 1.5vw;
  position: absolute;
  text-align: right;
  width: 100%;

}

.sm-cover-actions {
  bottom: auto;
  top: 1.5vw
}

.sm-media-button {
  margin-left: 1.8vw;
  display: none;
}

.sm-media-button {
  height: 4vw;
  width: 3.9vw
}

.sm-media-actions-textblock {
  float: left;
  font-size: 0
}

.sm-media-actions-textblock .sm-media-button {
  margin-left: 0;
  margin-right: 0.4vw
}

.sm-section-title .sm-media-actions-textblock {
  margin: 1vw 1.6vw 0 1.6vw
}

.sm-media-actions-textblock + h2 {
  line-height: 1.2
}

.sm-media-list {
  border: 1px solid #00a893;
  -webkit-border-radius: 0 5px;
  -moz-border-radius: 0 5px;
  -ms-border-radius: 0 5px;
  -o-border-radius: 0 5px;
  border-radius: 0 5px;
  color: #00a893;
  height: 2.2vw;
  line-height: 2.2vw;
  left: 1vw;
  position: absolute;
  top: 1vw;
  text-align: center;
  position: absolute;
  width: 2.2vw
}

.sm-tooltip {
  background-color: #fff;
  border: 1px solid #0099cb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.75);
  color: #000;
  padding: 10px;
  position: absolute;
  width: 2.2vw
}

.sm-tooltip:before {
  content: "";
  height: 1.6vw;
  left: 50%;
  margin-left: -2vw;
  position: absolute;
  top: -1.6vw;
  width: 4vw
}

.sm-tooltip-header {
  color: #09c
}

.sm-modal {
  background-color: #fff;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  position: absolute
}

.sm-modal-header {
  background-color: #ef5987;
  color: #fff;
  line-height: 3.5vw
}

.sm-modal-header h3 {
  font-size: 1.125em;
  padding: 0 1.3vw
}

.sm-gallery-prev, .sm-gallery-next {
  height: 28px;
  margin-top: -14px;
  position: absolute;
  top: 50%;
  width: 19px;

}

.sm-gallery-prev {
  background-position: -360px -101px;
  left: 20px
}

.sm-gallery-prev:hover {
  background-position: -380px -101px
}

.sm-gallery-next {
  background-position: -400px -101px;
  right: 20px
}

.sm-gallery-next:hover {
  background-position: -421px -101px
}

.sm-gallery-wrap {
  overflow: hidden;
  position: relative
}

.sm-gallery-item {
  position: absolute
}

.sm-gallery-footer {
  background-color: #f5f5f5;
  display: table;
  height: 54px;
  width: 100%
}

.sm-gallery-text {
  display: table-cell
}

.sm-gallery-scroll {
  height: 54px;
  overflow-y: auto;
  padding: 5px 10px
}

.sm-gallery-text p {
  margin-bottom: 5px
}

.sm-gallery-paginator {
  background-color: #ebebeb;
  height: 54px;
  line-height: 54px;
  display: table-cell;
  vertical-align: top;
  width: 80px
}

.sm-counter-shadow {
  background-position: -483px -100px;
  display: inline-block;
  height: 54px;
  vertical-align: middle;
  width: 9px
}

.netex-video-progress-bar .netex-video-progress-bar-inner, .netex-video-volume-panel .netex-video-volume-slider-foreground {
  background-color: #ef5987
}

.netex-audio-progress-bar .netex-audio-progress-bar-inner, .netex-audio-volume-panel .netex-audio-volume-slider-foreground {
  background-color: #ef5987
}

.netex table {
  border-collapse: collapse;
  border-spacing: 0
}

.netex table {
  border: 1px solid #ddd;
  width: 100%
}

.netex table caption {
  background-color: #ddd;
  padding: 16px
}

.netex table thead, .netex table tr th, .netex table tfoot {
  background-color: #f5f5f5
}

.netex table th {
  text-align: left
}

.netex table th, .netex table td {
  border: 1px solid #ddd;
  padding: 8px
}

.netex table tr.even, .netex table tr:nth-of-type(2n) {
  background-color: #f9f9f9
}

.sm-section-content table {
  width: 100%;
  border: 1px solid #8ac543
}

.sm-section-content table tr td {
  border: 1px solid #8ac543
}

.sm-section-content table tr th {
  border: 1px solid #8ac543;
  background-color: #d7e487
}

.sm-section-content table tr.even, .sm-section-content table tr:nth-of-type(2n) {
  background-color: #fff;
  border: 1px solid #8ac543
}

#popupView {
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none
}

#popupView .sm-section-content {
  margin: 0;
  padding: 0
}

#popupOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .8
}

.sm-section-content table tr th {
  font-weight: normal
}

.netex iframe {
  border: 0
}


.sm-subject a, .sm-tooltip a {
  text-decoration: none;
  color: #09C
}

.sm-subject img {
  height: auto
}

.sm-text-seroregular {
}

.sm-text-serobold {
  font-weight: bold;
}

.sm-text-caslonregular {
}

.sm-text-caslonbold {
  font-weight: bold;
}

.floated-left {
  margin-left: 0;
  margin-right: 5%;
  float: left
}

.cleared {
  clear: both
}

.netex ol, .netex ul {
  margin-left: 1.2em
}

.sm-activity-list span {
  font-weight: bold
}

.sm-subject, .sm-subject-special {
  -moz-transition: background-color 1s ease-in-out;
  -webkit-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out
}

.changeNextPage {
  -moz-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -moz-transform: translate3d(-1000px, 0, 0);
  -webkit-transform: translate3d(-1000px, 0, 0);
  transform: translate3d(-1000px, 0, 0);
  -moz-transition: transform .6s ease-in-out, opacity .6s;
  -webkit-transition: -webkit-transform .6s ease-in-out, -webkit-opacity .6s;
  -webkit-transition: transform .6s ease-in-out, opacity .6s;
  transition: transform .6s ease-in-out, opacity .6s
}

.changePrevPage {
  -moz-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -moz-transform: translate3d(1000px, 0, 0);
  -webkit-transform: translate3d(1000px, 0, 0);
  transform: translate3d(1000px, 0, 0);
  -moz-transition: -moz-transform .6s ease-in-out, -moz-opacity .6s;
  -webkit-transition: -webkit-transform .6s ease-in-out, -webkit-opacity .6s;
  -webkit-transition: transform .6s ease-in-out, opacity .6s;
  transition: transform .6s ease-in-out, opacity .6s
}

.sm-content {
  display: none
}

.sm-navbar .header-bar {
  position: relative;
  color: white;
  width: 100%;
  max-width: 710px;
  margin: 0 auto
}

.sm-nav {
  z-index: 10;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -moz-transition: -moz-opacity 1s;
  -webkit-transition: -webkit-opacity 1s;
  transition: opacity 1s
}

.sm-nav.off {
  -moz-opacity: .4;
  -webkit-opacity: .4;
  opacity: .4;
  -moz-transition: -moz-opacity 1s;
  -webkit-transition: -webkit-opacity 1s;
  transition: opacity 1s
}

.sm-nav-prev .sm-nav-title {
  left: auto;
  display: none;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out
}

.sm-nav-prev:hover .sm-nav-title {
  display: block;
  opacity: 1;
  left: 37px
}

.sm-nav-next .sm-nav-title {
  right: auto;
  display: none;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out
}

.sm-nav-next:hover .sm-nav-title {
  display: block;
  opacity: 1;
  right: 37px
}

.sm-nav.off .sm-nav-title {
  display: none
}

.sm-nav.off .sm-nav-arrow:hover {
  background-color: #333;
  cursor: default
}

.sm-arrowbox p:last-child, .sm-arrowbox ul:last-child li:last-child, .sm-arrowbox ol:last-child li:last-child {
  margin-bottom: 1em
}

.sm-arrowbox > p:last-child, .sm-arrowbox > ul:last-child li:last-child, .sm-arrowbox > ol:last-child li:last-child {
  margin-bottom: 0
}

.sm-section-content:last-child p:last-child, .sm-section-content:last-child ol:last-child li:last-child, .sm-section-content:last-child ul:last-child li:last-child {
  background-color: transparent
}

.modal-shadow {
  position: fixed;
  display: none;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -moz-opacity: .8;
  -webkit-opacity: .8;
  opacity: .8
}

.modal-container {
  display: none;
  z-index: 100;
  position: fixed;
  margin: auto
}

.sm-arrowbox-content h3 {
  font-size: 1.27778em;
  font-weight: 600;
  margin-bottom: .78261em;
  margin-top: 1em
}

.sm-teachernocontent-icon {
  background-position: -104px 0
}

.sm-gallery-item {
  height: auto;
  width: 100%;
  left: 0
}

.sm-navbar {
  z-index: 12;
  -moz-transition: -moz-opacity 1s;
  -webkit-transition: -webkit-opacity 1s;
  transition: opacity 1s
}

.sm-sidebar {
  z-index: 11
}

body.package-learner .sm-teacher, body.package-learner .sm-teachercontent, body.package-learner .teacher, body.package-learner .sm-activity-teachermark {
  display: none !important
}

.sm-media-list {
  z-index: 10
}

.sm-reading-text-author p {
  margin-bottom: 4px
}

#tooltipContainer .sm-tooltip {
  opacity: 0;
  z-index: 50
}

.devHighlight {
  background-color: #fff2a8
}

.sm-sidebar {
  -webkit-transform: translate3d(-310px, 0px, 0px);
  -moz-transform: translate3d(-310px, 0px, 0px);
  -o-transform: translate3d(-310px, 0px, 0px);
  -ms-transform: translate3d(-310px, 0px, 0px);
  transform: translate3d(-310px, 0px, 0px);
  -webkit-transition: -webkit-transform .5s cubic-bezier(0.8, 0, 0.2, 1) .5s, -webkit-opacity 1s;
  -webkit-transition: transform .5s cubic-bezier(0.8, 0, 0.2, 1) .5s, -webkit-opacity 1s;
  -moz-transition: -moz-transform .5s cubic-bezier(0.8, 0, 0.2, 1) .5s, -moz-opacity 1s;
  -ms-transition: -ms-transform .5s cubic-bezier(0.8, 0, 0.2, 1) .5s, opacity 1s;
  transition: transform .5s cubic-bezier(0.8, 0, 0.2, 1) .5s, opacity 1s;
  position: fixed;
  top: 0
}

.sm-sidebar-show {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px)
}

.sm-counter-shadow {
  margin-right: 8px
}

.netex-center {
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50.1%);
  -o-transform: translate(-50%, -50.1%);
  -webkit-transform: translate(-50%, -50.1%);
  -ms-transform: translate(-50%, -50.1%);
  transform: translate(-50%, -50.1%)
}

.sm-gallery-footer {
  overflow-y: auto;
  height: 55px
}

.hr-component {
  margin-top: 2.8em;
  margin-bottom: 2.8em;
  border: 0;
  height: 3px
}

.fixed-hidden {
  opacity: 0 !important
}

.netex-video-player {
  position: relative
}

.netex-video-container {
  position: relative
}

.netex-video-player video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: bottom;
  background-color: #000
}

.netex-video-player canvas {
  width: 100%;
  top: 0;
  left: 0;
  vertical-align: bottom
}

.netex-video-player img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.netex-video-subtitle-selector {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: none
}

.netex-video-subtitle-selector .netex-video-subtitle-selector-options {
  background-color: white;
  width: 100%
}

.netex-video-subtitle-selector .netex-video-subtitle-option {
  height: 30px;
  margin-left: 20px;
  background-color: white;
  color: #000;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  vertical-align: bottom;
  font-family: Arial, Helvetica;
  font-size: 15px;
  line-height: 30px
}

.netex-video-subtitle-selector .netex-video-subtitle-option:hover {
  color: #999
}

.netex-video-subtitle-selector .active .netex-video-subtitle-option-icon {
  display: inline-block;
  width: 30px;
  height: 27px;
  background-image: url(sprite_tools_video.png);
  background-position: -211px 0;
  float: right;
  margin-top: 5px
}

.netex-video-subtitle-selector .netex-video-subtitle-title {
  background-color: #777;
  height: 36px;
  position: relative
}

.netex-video-subtitle-selector .netex-video-subtitle-title h1 {
  margin: 0 0 0 20px;
  font-family: Arial, Helvetica;
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  bottom: 5px;
}

.netex-video-subtitle-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%
}

.netex-video-subtitle-container > div {
  display: none;
  color: #fff;
  font-family: Arial, Helvetica;
  font-size: 17px;
  margin: 12px 18px
}

.netex-video-subtitle-container > .active {
  display: block;
  text-align: center
}

.netex-video-controls {
  height: 29px;
  width: 100%;
  background-color: #1b1b1b;
  overflow: hidden
}

.netex-video-progress-bar-container {
  position: relative;
  height: 8px;
  background-color: #444
}

.netex-video-progress-bar {
  bottom: 0;
  left: 0;
  overflow: visible;
  position: absolute;
  width: 0;
  height: 8px;
  background-color: #777;
  cursor: pointer
}

.netex-video-progress-bar-inner {
  position: relative;
  width: 0;
  height: 8px;
  background-color: #ef5987
}

.netex-video-controls-item {
  margin-left: 12px;
  width: 29px;
  height: 27px;
  background-image: url(sprite_reproductor_video.png);
}

.netex-video-button-play-pause-restart {
  float: left;
  cursor: pointer;
  margin-top: 1px
}

.netex-video-button-play {
  background-position: 0 0
}

.netex-video-button-play:hover {
  background-position: 0 -27px
}

.netex-video-button-pause {
  background-position: -29px 0
}

.netex-video-button-pause:hover {
  background-position: -29px -27px
}

.netex-video-button-restart {
  background-position: -58px 0
}

.netex-video-button-restart:hover {
  background-position: -58px -27px
}

.netex-video-volume-control {
  float: left;
  cursor: pointer;
  height: 27px;
  margin-top: 1px
}

.netex-video-volume-control:hover .netex-video-volume-panel {
  width: 60px
}

.netex-video-volume-button {
  margin-left: 0;
  display: inline-block
}

.netex-video-volume-mute {
  background-position: -87px 0
}

.netex-video-volume-mute:hover {
  background-position: -87px -27px
}

.netex-video-volume-small {
  background-position: -116px 0
}

.netex-video-volume-small:hover {
  background-position: -116px -27px
}

.netex-video-volume-medium {
  background-position: -145px 0
}

.netex-video-volume-medium:hover {
  background-position: -145px -27px
}

.netex-video-volume-large {
  background-position: -174px 0
}

.netex-video-volume-large:hover {
  background-position: -174px -27px
}

.netex-video-volume-panel {
  width: 0;
  height: 27px;
  display: inline-block;
  overflow: hidden
}

.netex-video-volume-slider {
  width: 51px;
  display: block;
  overflow: hidden;
  position: relative;
  height: 7px;
  margin-top: 11px;
  margin-bottom: 9px;
  background-color: #757575
}

.netex-video-volume-slider-foreground {
  position: absolute;
  display: block;
  height: 7px;
  width: 50%;
  background-color: #ef5987
}

.netex-video-time-container {
  float: left;
  font-family: Arial, Helvetica;
  font-size: 11px;
  line-height: 27px;
  height: 27px;
  margin-top: 1px
}

.netex-video-time-current {
  color: #ddd;
  vertical-align: middle
}

.netex-video-time-separator, .netex-video-time-duration {
  color: #777;
  vertical-align: middle
}

.netex-video-tools-item {
  float: right;
  cursor: pointer;
  width: 30px;
  height: 27px;
  background-image: url(sprite_tools_video.png);
  margin-top: 1px;
}

.netex-video-button-fullscreen-enter {
  width: 31px;
  background-position: -149px 0;
}

.netex-video-button-fullscreen-enter:hover {
  background-position: -149px -27px;
}

.netex-video-button-fullscreen-exit {
  width: 31px;
  background-position: -180px 0;
}

.netex-video-button-fullscreen-exit:hover {
  background-position: -180px -27px
}

.netex-video-settings {
  width: 29px;
  background-position: -120px 0
}

.netex-video-settings:hover {
  background-position: -120px -27px
}

.netex-video-captions {
  width: 28px;
  background-position: -92px 0
}

.netex-video-captions:hover {
  background-position: -92px -27px
}

.netex-video-favorite {
  width: 29px;
  background-position: -63px 0
}

.netex-video-favorite:hover {
  background-position: -63px -27px
}

.netex-video-comments {
  width: 32px;
  background-position: -31px 0
}

.netex-video-comments:hover {
  background-position: -31px -27px
}

.netex-video-download {
  width: 31px;
  background-position: 0 0
}

.netex-video-download:hover {
  background-position: 0 -27px
}

.netex-video-player-fullscreen {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 1000
}

.netex-video-player-fullscreen .netex-video-container {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 1001;
  background-color: #000;
  margin-bottom: 37px
}

.netex-video-player-fullscreen .netex-video-controls-container {
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 1002
}

.netex-video-player-fullscreen .netex-video-subtitle-container {
  z-index: 1003;
  bottom: 37px;
  width: 100%
}

.netex-video-player-fullscreen .netex-video-subtitle-selector {
  position: fixed;
  z-index: 1004
}

.android .netex-video-volume-control, .android .netex-video-download, .ios .netex-video-volume-control, .ios .netex-video-download {
  display: none
}

@media screen and (max-width: 480px) {
  .netex-video-volume-control, .netex-video-download, .netex-video-favorite, .netex-video-comments, .netex-video-settings {
    display: none
  }
}

.netex-audio-player {
  position: relative
}

.netex-audio-container {
  position: relative
}

.netex-audio-player audio {
  width: 100%;
  height: 37px;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: bottom
}

.netex-audio-player .netex-audio-poster {
  width: 451px;
  height: 145px;
  position: relative;
  background-size: cover
}

.netex-audio-player .netex-audio-poster-stop {
  background-image: url(audio_animado_stop.gif)
}

.netex-audio-player .netex-audio-poster-play {
  background-image: url(audio_animado_loop_015.gif)
}

.netex-audio-controls {
  height: 29px;
  width: 100%;
  background-color: #1b1b1b;
  overflow: hidden
}

.netex-audio-progress-bar-container {
  position: relative;
  height: 8px;
  background-color: #444
}

.netex-audio-progress-bar {
  bottom: 0;
  left: 0;
  overflow: visible;
  position: absolute;
  width: 0;
  height: 8px;
  background-color: #777;
  cursor: pointer;
}

.netex-audio-progress-bar-inner {
  position: relative;
  width: 0;
  height: 8px;
  background-color: #db2a3a;
}

.netex-audio-controls-item {
  margin-left: 12px;
  width: 29px;
  height: 27px;
  background-image: url(sprite_reproductor_audio.png);
}

.netex-audio-button-play-pause-restart {
  float: left;
  cursor: pointer;
  margin-top: 1px;
}

.netex-audio-button-play {
  background-position: 0 0
}

.netex-audio-button-play:hover {
  background-position: 0 -27px;
}

.netex-audio-button-pause {
  background-position: -29px 0;
}

.netex-audio-button-pause:hover {
  background-position: -29px -27px;
}

.netex-audio-button-restart {
  background-position: -58px 0;
}

.netex-audio-button-restart:hover {
  background-position: -58px -27px;
}

.netex-audio-volume-control {
  float: left;
  cursor: pointer;
  height: 27px;
  margin-top: 1px;
}

.netex-audio-volume-control:hover .netex-audio-volume-panel {
  width: 60px
}

.netex-audio-volume-button {
  margin-left: 0;
  display: inline-block;
}

.netex-audio-volume-mute {
  background-position: -87px 0;
}

.netex-audio-volume-mute:hover {
  background-position: -87px -27px;
}

.netex-audio-volume-small {
  background-position: -116px 0;
}

.netex-audio-volume-small:hover {
  background-position: -116px -27px;
}

.netex-audio-volume-medium {
  background-position: -145px 0
}

.netex-audio-volume-medium:hover {
  background-position: -145px -27px
}

.netex-audio-volume-large {
  background-position: -174px 0
}

.netex-audio-volume-large:hover {
  background-position: -174px -27px
}

.netex-audio-volume-panel {
  width: 0;
  height: 27px;
  display: inline-block;
  overflow: hidden
}

.netex-audio-volume-slider {
  width: 51px;
  display: block;
  overflow: hidden;
  position: relative;
  height: 7px;
  margin-top: 11px;
  margin-bottom: 9px;
  background-color: #757575
}

.netex-audio-volume-slider-foreground {
  position: absolute;
  display: block;
  height: 7px;
  width: 50%;
  background-color: #db2a3a
}

.netex-audio-time-container {
  float: left;
  font-family: Arial, Helvetica;
  font-size: 11px;
  line-height: 27px;
  height: 27px;
  margin-top: 1px
}

.netex-audio-time-current {
  color: #ddd;
  vertical-align: middle
}

.netex-audio-time-separator, .netex-audio-time-duration {
  color: #777;
  vertical-align: middle
}

.android .netex-audio-volume-control, .ios .netex-audio-volume-control {
  display: none
}

@media screen and (max-width: 480px) {
  .netex-audio-volume-control {
    display: none
  }
}

@media screen and (max-width: 705px) {
	.sm-block-1-5 {
		width: 100%;
	}
	.sm-block {
		margin-left: 0;
	}
	.sm-textblock {
		margin-left: 0;
		width: 100%;
	}
}

img {
    max-width: 100%;
    height: auto;
    left: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.activity-content {
  background-color: #FAFAFA;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.activity-content p {
  padding: 10px;
}
.comic-card {
  padding: 5px;
  width: 50%;
  float: left;
}

.comic-sequence {
  padding: 0 0 20px 0;
  display: inline-block;
}

.comic-card.mini {
  width: 25%;
}
.comic-card > img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.comic-card.container {
  display:inline-block;
  vertical-align:top;
}
.comic-card-text {
  text-align: center;
  padding-top: 2.5em;
}
.comic-card.more-padding {
  text-align: center;
  padding-top: 5em;
}
span.clear { clear: left; display: block; }