.view.note {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  background-color: #FAFAFA;
  overflow-y: auto;
}

.view.note header {
  background: #FFFFFF;
  padding: 60px;
}

.view.note header .row {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.view.note header h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  padding-left: 45px;
}

.view.note h2.think {
  font-weight: 100;
}

.view.note header .sm-dot svg {
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.view.note header .btn {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 60px;
  border: 0;
  margin: 0 10px;
  border-radius: 20px;
  white-space: nowrap;
}

.view.note header .btn.color-light {
  border: 1px solid #707070;
}

input.search {
  padding-right: 50px;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #707070;
}

.search-icon {
  height: 40px;
  position: relative;
  z-index: 10000;
}

.search-icon svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
}

.view.note main {
  text-align: center;
  padding-top: 20px;
}
.view.note .btn span {
  padding: 0 10px;
}

.view.note .card {
  text-align: left;
  width: 26%;
  display: inline-block;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 20px;
}

@media screen and (max-width: 960px) {
  .view.note {
    padding: 40px 20px;
  }
  .view.note .card {
    width: calc(50% - 40px);
    margin: 10px;
  }
}

@media screen and (max-width: 640px) {
  .view.note .card {
    width: calc(100% - 40PX);
  }
}

.view.note .card-header {
  background: #FFFFFF;
  border: 0;
  font-size: 12px;
  color: #666666;
}

.view.note .card-footer {
  background-color: #FFFFFF;
  font-size: 12px;
  color: #666666;
}

.view.note .card .card-body {
  font-size: 16px;
  color: #666666;
  cursor: pointer;
}

.view.note .card .card-body:hover h2,
.view.note .card .card-body:hover {
  color: #FFFFFF;
  background-color: #666666;
}

.view.note .card .shared-icon:hover {
  color: #FFFFFF;
  background-color: #666666;
}

.view.note .card-footer p{
  margin: 0;
}

.view.note .card-footer .shared-icon {
  float: right;
  margin-top: -40px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.1);
}
.view.note .card-footer .shared-icon svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.view.note .card .note-title {
  font-size: 20px;
  font-weight: 600;
  color: #000000  ;
}

section.editor {
  width: 100vw;
  height: calc(100vh - 40px);
  background: #FFFFFF;
  top: 0;
  position: absolute;
  z-index: 20000;
}

section.editor.show {
  display: block!important;
}

.editor-tools {
  position: fixed;
  margin: 0;
  padding: 0;
  bottom: 20px;
  right: 20px;
}

.editor-tools .editor-btn-round.selected {
  background: #000000;
  color: #FFFFFF;
}
.editor-tools .editor-btn-round:last-child {
  margin-bottom: 0;
}
.editor-tools .editor-btn-round:first-child {
  margin-top: 0;
}
.editor-tools .editor-btn-round {
  margin: 10px 0;
}

.editor-tools .editor-toggle {
  width: 40px;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
}

.editor-btn-round:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.editor-btn-round svg {
  width: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.editor-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
}

.editor-header {
  padding: 40px 0 20px 0;
  border-bottom: 1px solid #EDEDED;
}

.editor-unit {
  font-size: 12px;
  color: #666666;
}

.editor-title {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.editor-subtitle {
  font-size: 20px;
  font-weight: 100;
  color: #666666;
}

[contentEditable=true]:empty:not(:focus):not(.editor-text):before{
  content:attr(data-ph)
}

[contentEditable=true]:focus {
  outline: none;
}

.editor-text button {
  cursor: pointer;
}