.editor-text {
  margin-top: 40px;
  font-size: 20px;
  color: #666666;
  font-weight: 100;
  position: relative;
}
.medium-editor-toolbar {
  z-index: 4000000;
}

.medium-editor-toolbar {
  background: no-repeat;
  border: 0;
  box-shadow: none;
  border-radius: 0;
}

.medium-editor-toolbar ul {
  margin: 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #666666;
}

.medium-editor-toolbar li {
  float: left;
  list-style: none;
  padding: 0;
  width: 40px;
  height: 40px;
  margin: 0 1px;
}

.medium-editor-toolbar li button {
  border: 0;
  border-radius: 50%!important;
}

.medium-toolbar-arrow-under:after {
  border-color: #666666 transparent transparent transparent;
  top: 45px;
  border: 0;
  width: 2px;
  height: 10px;
  background-color: #666666;
}

.medium-editor-toolbar li .medium-editor-button-active {
  background-color: #000;
  background: -webkit-linear-gradient(top, #242424, rgba(0, 0, 0, 0.89));
  background: linear-gradient(to bottom, #242424, rgba(0, 0, 0, 0.89));
  color: red;
}

.medium-editor-placeholder:after {
  margin: 0;
}

.medium-editor-toolbar li button {
  background: #000000!important;
  border: 0;
  border-right: 1px solid #000;
  border-left: 1px solid #333;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  height: 40px;
  min-width: 40px;
  -webkit-transition: background-color .2s ease-in;
  line-height: 1;
  font-weight: 500;
  padding: 0;
}

.editor-text h2,
.editor-text .h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
  color: #000000;
}

.editor-text h3,
.editor-text .h3 {
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 20px 0;
  color: #000000;
}

.editor-add .editor-btn-round {
  display: inline-block;
}

.editor-text b,
.editor-text strong {
  font-family: 'Open Sans Bold';
  color: #000000;
}

.medium-editor-insert-plugin .medium-insert-buttons {
  left: -60px!important;
}

.medium-editor-insert-plugin .medium-insert-buttons button,
.editor-btn-round {
  width: 40px;
  height: 40px;
  color: #000000;
  display: block;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 6px #00000029;
  background-color: #FFFFFF;
}

.medium-insert-buttons-addons button svg {
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.medium-editor-insert-plugin .medium-insert-buttons button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show.medium-insert-buttons-rotate {
  background-color: #000000;
  color: #FFFFFF;
  transform: rotate(45deg) translate(10px, -22px);
}

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons {
  left: 50px;
  top: -42px;
}

