<div id="NoteEditor" class="view note-editor">
  <div class="editor-content">
    <div class="editor-header">
      <div class="editor-icon"></div>
      <div class="editor-unit" contenteditable="true" data-ph="Unidad del apunte"></div>
      <div class="editor-title" contenteditable="true" data-ph="Título del apunte"></div>
      <div class="editor-subtitle" contenteditable="true" data-ph="Subtítulo del apunte"></div>
    </div>
  </div>
  <ul class="editor-tools">
    <li class="editor-btn-round tool-volume"><i data-feather="volume-2"></i></li>
    <li class="editor-btn-round tool-printer"><i data-feather="printer"></i></li>
    <li class="editor-btn-round tool-share"><i data-feather="share-2"></i></li>
    <div class="editor-toggle">
      <li class="editor-btn-round tool-eye"><i data-feather="eye"></i></li>
      <li class="editor-btn-round tool-edit selected"><i data-feather="edit-3"></i></li>
    </div>
  </ul>
</div>