<div id="note" class="view note">
  <header>
    <div class="row">
      <div class="col m2">
        <span class="sm-dot"><i data-feather="file-minus"></i></span>
        <h2>Apuntes</h2>
        <h2 class="think">Ciencias de la naturaleza</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm pt-4 pl-0 text-left">
        <button class="btn color-light ml-0"><i data-feather="sliders"></i><span>Filtrar</span></button>
      </div>
      <div class="col-sm pt-4 text-center input-group">
        <input type="text" class="form-control search">
        <span class="search-icon"><i data-feather="search"></i></span>
      </div>
      <div class="col-sm pt-4 mr-0 text-right">
        <button id="NewNote" class="btn color-secondary">Crear nuevo</button>
      </div>
    </div>
  </header>
  <main></main>
</div>