.breadcrumb-container {
  height: 40px;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
.breadcrumb {
  height: 40px;
  border-radius: 0;
  padding: 0;
  margin: 0;
  line-height: 40px;
  vertical-align: middle;
  padding-left: 20px;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw;
}

a.breadcrumb-item {
  color: #FFFFFF;
  font-size: 14px;
}

.breadcrumb-item.active {
  color: #FFFFFF;
  font-weight: 600;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #FFFFFF;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 5px;
}

.breadcrumb .title {
  margin: 0 auto;
}

.btn-back {
  vertical-align: middle;
  line-height: 40px;
  border-right: 1px solid #FFFFFF;
  padding-right: 20px;
  cursor: pointer;
  position: absolute;
}

.btn-back svg {
  margin-right: 10px;
}