<div class="breadcrumb-container">
  <div class="breadcrumb color-primary text-center  ">
    <span class="btn-back units" data-back=".view.units" style="display: none"><i data-feather="arrow-left"></i>Índice</span>
    <span class="btn-back unit" data-back=".view.unit" style="display: none"><i data-feather="arrow-left"></i>Inicio</span>
    <span class="btn-back note" data-back=".view.note" style="display: none"><i data-feather="arrow-left"></i>Todos mis apuntes</span>
    <span class="title"></span>
  </div>
</div>