﻿@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../../css/fonts/sourcesanspro.eot');
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
	url('../../css/fonts/sourcesanspro.eot') format('embedded-opentype'),
	url('../../css/fonts/sourcesanspro.woff') format('woff'),
	url('../../css/fonts/sourcesanspro.otf') format('truetype'),
	url('../../css/fonts/sourcesanspro.ttf') format('truetype');
}