﻿body{
	/*quitar:overflow: hidden;*/
	/*o sustituir por:*/
	overflow: auto !important;
}
.botonera, .jspVerticalBar
{
	display: none !important;
}

.actividad, .actsm-actividades-cont-general
{
	/*quitar:	height: 1068px;*/
	/*o sustituir por:*/
	height: auto  !important;
	display: table-cell !important;
	border: none !important;
	background : #FFF !important;
}

.preguntas{
	/*quitar:	height: 1022px;*/
	/*o sustituir por:*/
	height: auto  !important;
}


.contPreguntasContinuo, .jspScrollable, .jspContainer-scroll{
	/*quitar:
		height: 1009px;
		overflow: hidden;
	*/
	/*sustituir por:*/
	height: auto !important;
	overflow: auto !important;
}

.jspContainer{
	/*quitar:
		height: 1009px;
		overflow: hidden;
	*/
	/*sustituir por:*/
	height: auto  !important;
	overflow: auto  !important;
}

.jspPane{
	/*quitar:
		position: absolute;
	*/
	/*sustituir por:*/
	position: relative !important;
}
