<section class="header">
  <div class="row logo align-items-center">
    <div class="thumb"></div>
    <div class="col col-sm-12 contain-size">
      <img class="inits-logo" src="icons/massavia_logotipo-white.png">
    </div>
    <div class="col col-sm-12">
      <div class="m-5">
        <h2>Lengua y literatura</h2>
        <h5>1 ESO</h5>
      </div>
      <div>
        <button class="btn btn-light back">Volver</button>
        <button class="btn color-secondary start">Empecemos</button>
      </div>
    </div>
  </div>
  @@include('view/analytics/analytics.html')
</section>