﻿/* las fuentes se cargan con import*/
@import url('actividades.fonts.css');

/*inicializadores*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,th,td { margin:0; padding:0; }
fieldset,img { border:0;}
address,caption,cite,code,dfn,th,var { font-style:normal; font-weight:normal;}
ol,ul { list-style:none;}
caption,th { text-align:left;}
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal;}
q:before,q:after { content:'';}
abbr,acronym { border:0;}
/*fin inicializadores*/

/********************************************************************************************
** GENERALES
*********************************************************************************************/
body, select{font-family: 'Source Sans Pro';font-size: 16px;}
a {color: #0099CC;}
a:visited {color: #0099CC;}
ul {margin-left: 34px; list-style: disc;}
ol {margin-left: 40px; list-style: decimal; }
.jspVerticalBar {padding-left: 5px;}

.actsm-tituloPantalla{	
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.actsm-tituloPantalla span{padding: 0px 0 0 0px; font-weight: bold; font-size: 21px; line-height:21px; color:#000;}

.actsm-tituloPantallaProceso{	
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.actsm-tituloPantallaProceso span{padding:0px 0 0 0px; font-weight:bold; font-size:15px; line-height:21px;}

.actsm-tituloNumeracion{width:28px; display:inline-block;}
.actsm-sombra{box-shadow: 1px 1px 5px #666;-webkit-box-shadow: 1px 1px 5px #666;  -moz-box-shadow: 1px 1px 5px #666;}
			
.actsm-imagenActualGaleria{overflow:hidden;}
.actsm-transfer{border: solid 1px black;}
/** JCMC No se utilizan
.actsm-alert .ui-dialog-titlebar {display:none}
.actsm-fixed{position: fixed;}
**/

/*  subtitulos media Elements  */
/* --------------------------- */
.mejs-captions-layer {
	line-height: 16px;
	font-family: 'Source Sans Pro';
	font-size: 16px;
}


/********************************************************************************************
** Z-INDEX
*********************************************************************************************/

/** JCMC No se utilizan
.zindexBase {z-index:1;}
.zindexPestana {z-index:10;}
.zindexCabecera {z-index:20;}
.zindexPie {z-index:20;}
.zindexMiCuaderno {z-index:30;}
.zindexPopups {z-index:40;}
.zindexPopupsNivel2 {z-index:50;}
**/

/********************************************************************************************
** LAYOUT
*********************************************************************************************/
.actsm-pantalla
{
	/****************************************************************************
	**  Definido en pantalla para que sobreescriba 
	**  los posibles estilos de fuentes de jquery.ui al mostrar los popup (dialog)
	*****************************************************************************/
	font-size:16px;
	font-family:'Source Sans Pro';
	color:#707070;
}
/** JCMC No se utilizan
.footNPD{border:solid 0px #BBB;width:1007px; height:31px;}
**/
.actsm-tdLayout{overflow:hidden; border: dotted 0px green;}
/** JCMC No se utilizan
.recursos{position:absolute; top:81px; left:804px; width: 203px;  overflow:auto; padding-top:16px;}
.menuHomeCont{width: 203px; margin-top:-16px; overflow:hidden;}
*/
.actsm-sombra{box-shadow: 1px 1px 5px #666;-webkit-box-shadow: 1px 1px 5px #666;  -moz-box-shadow: 1px 1px 5px #666;}

/********************************************************************************************
** Cabecera 
*********************************************************************************************/

/** JCMC No se utilizan
.lineaSombraCabecera 
{
	height: 15px; 
	width:1007px;
	background:url(../img/gshadow.png) repeat-x 0 0;
	position: fixed; 
	top:80px; 
}
*/

/*DIV.cabecera{border-bottom:solid 1px #BBB;width:1013px;}*/
/* JCMC No se utilizan, se refiere a la cabecera de axis
div.cabecera 
{	
	border-bottom:solid 1px #BBB;
	width:1007px;
	height: 80px;
	position:fixed;
	top:0px;
}



div.cabecera .capaTitulo
{
	float:left;
	width: 100%; 
}

div.cabecera .tituloUnidad .abreviatura,  div.cabecera .tituloUnidad #nombreUnidad
{
	font-size:13px; 
	font-weight:bold; 
}


div.cabecera .capaEpigrafes
{
	float: right;  
	position:absolute;
	right: 15px; 
	margin:0px; 
}

div.cabecera ul, div.cabecera_portfolio ul 
{
	list-style: none; 
	margin:0px;
}
div.cabecera .capaEpigrafes li, div.cabecera_portfolio li
{
	float:left;
}


div.cabecera .superior
{
	top: 8px; 
	height: 30px;
}

div.cabecera .inferior
{
	top: 42px; 
	height: 30px;
}

div.cabecera .contCabPantallas, div.cabecera_portfolio .contCabPantallas
{
	float:left; 
}*/
/* JCMC Logo de Axis
.logo
{
	float: left; 
	padding:15px 15px 10px 15px;
}
*/
/* JCMC Popup de Axis
.divPopup
{
	position:absolute; 

}
*/

.actsm-contenidoTextoDiv
{	
	/*font-size:13px;*/
	line-height:16px; color: #707070; text-align:left;
}

.actsm-text {overflow: hidden;}

/* JCMC No se utilizan, en activiades contenidos web no se muestran
.textRight UL { list-style-position:inside; text-indent:20px;}
.textRight OL { list-style-position:inside; text-indent:20px;}

div.textRight.textWeb div.mejs-audio {float:left; margin:10px 10px 0px 0px;}
*/

.actsm-contenidoTextoDiv SPAN.cabecera
{
	color:#FFF; font-weight:bold;
	font-size:16px; display:block; min-height:25px;
	padding:5px 0 0 5px;  text-align:center;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/*text-shadow: black 0.1em 0.1em 0.2em;*/
}

.actsm-contenidoTextoDiv table{border-collapse:collapse; border-style:solid !important; border-color:#FFF !important; border-width:0px;}

.actsm-contenidoTextoDiv span.subcabecera
{
	display:block; min-height: 20px; font-size:16px; color: #FFF;
}
.actsm-contenidoTextoDiv .tablaceldablanca{background-color:White; color:#6E6E6E;}

/*.textoTareaIn table,.text table{border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; 
			border-collapse:collapse; border-style:solid !important; border-color:#FFF !important; }
*/
/*
.selected
{
	background:black; 
	background-image:none;
	color:#FFF; 
	cursor:default;
	filter: none;
}
.tituloUnidad span.selected{margin-right:5px;}
*/

/* JCMC Comprobar si es la misma clase que esta definida en pdi.css**/
.subtitulo{font-size: 17px; line-height:16px; color: black; font-weight: bold;}

.actsm-contenidoTextoDiv span.estiloEjemplo
{
	/*font-size: 13px; */
	font-weight: bold;
}


a.actsm-tooltip{cursor:help;}
a.actsm-tooltip{text-decoration:none;border-bottom:1px dotted #0099CC;color:#0099CC;}
a.actsm-tooltip:visited{text-decoration:none;border-bottom:1px dotted #0099CC;color:#0099CC;}


a.actsm-tooltip {
  border-bottom: none;
  position:relative;
}
a.actsm-tooltip::after {
  border-bottom: 1px dotted #0099CC;
  bottom: 3px;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
}


.actsm-link_anchor{color:#0099CC; }
.actsm-link_anchor:visited{color:#0099CC; }
.ui-widget-content .actsm-link_anchor{color:#0099CC;}
/********************************************************************************************
** Imagenes
*********************************************************************************************/
	
/*
.actsm-pie-imagen-div { position:relative; z-index: 1; display: none; font-size: 13px; 
				padding: 5px; opacity:0.7; color: white;min-height:15px;}
*/				

.actsm-pie-imagen-div 
{
	display: none;
	
	position:relative; 
	/*tamano de fuente definido(heredado) a nivel de .actsm-pantalla*/
	font-size: 16px; 
	padding: 5px; opacity:0.9; color: white;min-height:24px;
	background:url(../img/fondo_pie.png); text-align:left;
}

.actsm-cont_video video, .actsm-cont_audio audio, .actsm-cont_img img{display:block;}
.actsm-bt_ampliar{width:16px; height:16px; float:right;background:url(../img/ampliar_foto.png); cursor:pointer;}
.actsm-image_link{background:url(../img/play.png) no-repeat 50% 50%; position:absolute; cursor:pointer; top:0px;}
.actsm-pieLink { position:relative;  display: none; /*font-size: 13px;*/
				padding: 5px; opacity:0.7; color: white;min-height:24px;
				background:url(../img/fondo_pie.png); display:block; top:-34px}



/********************************************************************************************
** Recursos
*********************************************************************************************/
/** JCMC no se utiliza
#divListaRecursosMain{width: 100%; overflow:auto;}

.sugerencia {
	width: 150px; text-align: center; color: white; margin: auto; padding: 3px 0; font-size: 16px; 
	border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	cursor:pointer;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=5);
	text-shadow: #666 0.1em 0.1em 0.2em;}


.cont_recursos{margin-bottom:24px}

.tituloRecursos{padding: 7px 0 7px 7px; font-weight: bold; width: 190px; cursor:pointer; font-size:13px}

.recurso
{ 
	font-size: 15px; 
	font-family:'Source Sans Pro';
	color: #707070; 
	cursor:pointer;
}

.recurso td 
{
	height: 29px; 
}

.recurso_separador_up,.recurso_portfolio_separador_up{ height: 1px; margin-top: 3px;} 
.recurso_separador_down,.recurso_portfolio_separador_down{ height: 1px;} 
.recursoIdentificativo{background-color: #CC0000;}
.recurso table{width:180px !important;}
.icon-titulo-recurso{display:inline-block; cursor:pointer; width:10px; height:10px; float:right; margin:4px 20px 0 0;}
*/

/********************************************************************************************
** galerias actividades
*********************************************************************************************/
.actsm-btActividad
{
	color:#000000;
	overflow:hidden; height:145px; width:145px; float:left; padding:0px;  text-align:left;
	margin:0px 1px 1px 0px ;cursor:pointer;
}

.actsm-btActividad span
{
	margin: 0px 0 0 0px; font-size: 33px; padding-left:5px;
	
}

.actsm-btActividad div.actsm-elipsis
{
	margin: 60px 10px 0 10px; font-size: 15px; height:60px; overflow:hidden;
}

.actsm-btActividad:hover {
	background:#000; color:#fff;
}

/********************************************************************************************
** galerias imagenes
*********************************************************************************************/

.actsm-cont_thumb{margin:0 5px 5px 0px; cursor:pointer; width:50px; height:50px; float:left;}
.actsm-cont_thumb_sel{margin:0 5px 5px 0px; cursor:pointer; width:50px; height:50px; float:left;}

.actsm-imagenOcultaGaleria {display: none;}
.actsm-imagenActualSigDiv, .actsm-imagenActualAntDiv {height: 20px; width: 10px; cursor: pointer; background-repeat: no-repeat; float: left;}
.actsm-imagenActualSigDiv {background-image: url(../img/flecha-derecha-normal.png);  }
.actsm-imagenActualSigDiv:hover {background-image: url(../img/flecha-derecha-over.png);}
.actsm-imagenActualAntDiv { background-image: url(../img/flecha-iz-normal.png);}
.actsm-imagenActualAntDiv:hover {background-image: url(../img/flecha-iz-over.png);}


.actsm-expand_bt_ampliar{display:inline-block; width:23px; height:23px; background:url(../img/ampliar-normal.png) no-repeat 50% 50%; cursor:pointer;}
.actsm-expand_bt_ampliar:hover{background:url(../img/ampliar-over.png) no-repeat 50% 50%;}

.actsm-imagenGaleriaSinTexto .actsm-expand_bt_ampliar{display:inline-block; width:23px; height:23px; background:url(../img/ampliar-over-blanco.png) no-repeat 50% 50%; cursor:pointer; opacity:0.7;}
.actsm-imagenGaleriaSinTexto .actsm-expand_bt_ampliar:hover{background:url(../img/ampliar-over-blanco.png) no-repeat 50% 50%; opacity:1;}

.actsm-imagenGaleriaSinTexto .actsm-expand_pie td:first-child{width:90%; padding:8px 5px 0 10px;}
.actsm-imagenGaleriaSinTexto .actsm-expand_pie td:last-child{vertical-align:top; padding-top:10px; text-align:right; padding-right:10px;}

.actsm-expand_close{width:30px; height:30px; background:url(../img/cerrar-normal.png) no-repeat 50% 50%; cursor:pointer; float:right;}
.actsm-expand_close:hover{background:url(../img/cerrar-over.png) no-repeat 50% 50%;}

.actsm-libreText{width:100%;}

.actsm-btLeftLibre
{
	width:15px; height:50px; margin-right:5px;
	background: url(../img/lib-flecha-iz-normal.gif); 
}
.actsm-btLeftLibre:hover
{
	width:15px; height:50px; 
	background: url(../img/lib-flecha-iz-over.gif)
}
.actsm-btRightLibre
{
	width:15px; height:50px; 
	background: url(../img/lib-flecha-dcha-normal.gif)
}
.actsm-btRightLibre:hover{
	width:15px; height:50px; 
	background: url(../img/lib-flecha-dcha-over.gif)
}


/********************************************************************************************
** galerias procesos
*********************************************************************************************/
.actsm-menu-proceso.actsm-tab ul
{
	padding: 10px 0 0 0;
	margin:0;
	height:100%;
	width:50px;
	background: url(../img/procesos_tabs/sombra.png) repeat-y 33px 0;
}

.actsm-menu-proceso.actsm-tab li
{
	padding: 0;
	margin:0 0 0 10px;
	width:30px;
	display:inline-block;
	height:41px;
	cursor:pointer;
	background: url(../img/procesos_tabs/centro.png) repeat-x 0 0;
	vertical-align:baseline;
}

.actsm-menu-proceso.actsm-tab li p
{
	margin: 10px 0 0 5px;
	display:inline-table;
	height:41px;
	width:20px;
	vertical-align:middle;
	color: #707070;
}

.actsm-menu-proceso.actsm-tab li:before
{
	content:"";
	width:5px;
	display:inline-block;
	position:absolute;
	height:41px;
	cursor:pointer;
	background: url(../img/procesos_tabs/izquierda.png) no-repeat 0 0;
}

.actsm-menu-proceso.actsm-tab li:after
{
	content:"";
	display:inline-block;
	position:absolute;
	width:8px;
	height:41px;
	cursor:pointer;
	background: url(../img/procesos_tabs/derecha.png) no-repeat 0 -42px;
}

.actsm-menu-proceso.actsm-tab li:hover:after, .actsm-menu-proceso.actsm-tab li.sel:after
{
	background: url(../img/procesos_tabs/derecha.png) no-repeat 0 0px;
	width:19px;
}

.actsm-menu-proceso.actsm-tab li:last-child
{
	border-bottom: solid 1px #bbb;	
}

.actsm-menu-proceso.actsm-tab li:last-child:after
{
	border-bottom: solid 1px #bbb;
	width:8px;
}

.actsm-menu-proceso.actsm-tab li:last-child:hover:after, .actsm-menu-proceso.actsm-tab li.sel:last-child:after
{
	border-bottom: none;
	width:19px;
}

.actsm-menu-proceso.actsm-arrow
{
	background:#eee;
}

.actsm-menu-proceso.actsm-arrow ul
{
	padding:0;
	margin:10px;
}

.actsm-menu-proceso.actsm-arrow li
{
	padding: 0;
	margin:0 0 10px 0;
	display: block;
	height:51px;
	cursor:pointer;
	background: url(../img/procesos_flechas/derecha.png) no-repeat 100% -51px;
}

.actsm-menu-proceso.actsm-arrow li p
{
	padding:0px 5px 0px 15px;
	display:table-cell;
	height:51px;
	vertical-align:middle;
	color: #707070;
	font-weight:bold;
}

.actsm-menu-proceso.actsm-arrow li:before
{
	content:"";
	width:5px;
	display:inline-block;
	position:absolute;
	height:51px;
	cursor:pointer;
	background: url(../img/procesos_flechas/izquierda.png) no-repeat 0 0;
}

.actsm-menu-proceso.actsm-arrow li:hover, .actsm-menu-proceso.actsm-arrow li.sel
{
	background: url(../img/procesos_flechas/derecha.png) no-repeat 100% 0px;
}

.actsm-menu-proceso .jspVerticalBar{left: 0}

.actsm-mini-nav-text{
	color: #FFFFFF;
	font-family: 'Source Sans Pro';
	font-size: 14px;
	font-weight: bold;
}

.actsm-process-sec-right-arrow{
	background: url("../img/procesos_sec/arrow_r.png") no-repeat 0 0 transparent;
}
.actsm-process-sec-left-arrow{
	background: url("../img/procesos_sec/arrow_l.png") no-repeat 0 0 transparent;
}
.actsm-process-sec-right-arrow:hover{
	background: url("../img/procesos_sec/arrow_rhover.png") no-repeat 0 0 transparent;
}
.actsm-process-sec-left-arrow:hover{
	background: url("../img/procesos_sec/arrow_lhover.png") no-repeat 0 0 transparent;
}
.actsm-process-sec-right,.actsm-process-sec-left{width:19px;}

/********************************************************************************************
** Popups
*********************************************************************************************/
.actsm-cabecera-popup
{
	height:33px;
	font-weight:bold;
	font-size:16px;
	font-family:'Source Sans Pro';
	position:absolute;
	top:0px;
	left:0px;
	display:block;
	color:Black;
}

.actsm-cabecera-popup span.actsm-icon, .actsm-cabecera-popup span.actsm-no-icon 
{
	display: inline-block;
	height:33px;
	width:33px;	
	margin-right:10px;
	margin-bottom: -10px;
}

.actsm-cabecera-popup .actsm-titulo
{
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height:20px;
}


.actsm-main-popup
{
	position:absolute;
	top:54px;
	left:34px;
}

.actsm-popup-close{ cursor: pointer;
				height: 36px;
				position: absolute;
				right: 10px;
				top: 0;
				width: 36px;
				background:url(../img/popup_sprite.png);}

.actsm-pie-img-cms{color:#FFF; position:absolute; width:100%; bottom:0px; display:block; min-height:30px; background:url(../img/fondo_pie.png);}

.actsm-contenido div.actsm-document{min-height:35px;}
.actsm-contenido div.actsm-document span{padding-left:50px;}
.actsm-contenido div.actsm-document img{position:absolute;padding-left:30px;}

.actsm-contenido div.actsm-enlace{min-height:35px;}

/********************************************************************************************
** Recursos generales
*********************************************************************************************/
/* CPOZA - NO SE USA */
/*.tituloCabeceraPopupFlecha{font-size:15px;}
.subtituloCabeceraPopupFlecha{font-size:13px;}
.cabeceraCategoria{font-size:16px; padding-left:3px;}
.recursoRecursoGenerales{ font-size:12px; margin:6px 0 0 20px;width:183px;cursor:pointer;overflow:hidden;}
.recursoRecursoGenerales_hover .flechaRecurso{text-decoration:none;}
.recursoRecursoGenerales_hover .nombreRecurso{text-decoration:underline;}
.tdBloqueRecursos{width:232px;}

.close_divpopup,.close_divBuscadorRecursosPopup,.close_divpopupPortfolio, .close_divpopupModosVisualizacion, .close_divpopupCapaProfe,.close_divpopupGestionRecursos{
	background: url("../img/popup_sprite.png") repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 36px;
	position: absolute;
	right: 10px;
	top: 0;
	width: 36px;
	margin-top:5px;
}

.close_divpopupModosVisualizacion
{
	background: url("../img/cerrar_modos.png") repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 21px;
	position: absolute;
	right: 11px;
	top: 5px;
	width: 23px;
	margin-top:5px;
}*/
/********************************************************************************************
** Div - popup con flechita
*********************************************************************************************/
/*#contenedor_popup {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
#contenedor_popup.tip_top {padding-bottom: 19px;}

#popup_flecha, #popup_flecha_inner {
	position: absolute;
	border-width: 20px;
	height: 0;
	width: 0;
}

#contenedor_popup.tip_top #popup_flecha_inner {
	margin-top: -20px;
	margin-left: -19px;
}
*/
/********************************************************************************************
** Div-Popup Menu Epigrafes

*********************************************************************************************/
/*
.popup_tiptop_content 
{
	overflow:auto; 
	position:absolute; 	
}
.popup_tiptop_content .jspVerticalBar
{
	padding-left: 0px;
}

div.menuEpigrafes_contenedor
{
	margin:20px;
	overflow:hidden;
	position:relative; 	
}

ul.menuEpigrafes 
{
	margin:0px;
	padding:0px; 
	list-style: none; 
}

ul.menuEpigrafes li{
    height: 20px; 
    margin-bottom: 9px; 
}

ul.menuEpigrafes .btCabEpigrafe
{
    cursor: pointer; 
	font-size:13px; 
    height: 18px; 
    width: 20px;
    padding:2px 0px 0px 0px;
    margin:0px; 
    font-weight:bold; 
}

ul.menuEpigrafes .btCabEpigrafe img
{
    position: relative; 
    top: -2px; 
	
}


ul.menuEpigrafes li span.textoEpigrafe{
    color: white;  
    line-height: 20px; 
    cursor: pointer; 
    font-size:13px;
    margin-left: 10px; 
}

ul.menuEpigrafes li span.textoEpigrafe:hover
{
	text-decoration:underline; 
}
*/
/********************************************************************************************
** Estilos para capas visuales. 
*********************************************************************************************/
/*
.flecha
{
	width: 0px;
	border-style:solid;
	border-color: transparent;
	border-width: 15px; 
}

.popup_tiptop_content 
{

	font-size: 14px;
	color: #fff;
	border: 1px solid rgba(255,255,255,0.25);
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;

}*/

.dialogApuntes
{	
	margin:0px !important;
	padding: 0px 11px 0px 9px !important;
}

/*
.dialogApuntesTitlebar
{
	height:15px;
	margin:10px;
	padding:0px;
	border:0px;
	background: #f6a828;
	font-size:12px;
}

.dialogApuntesHeader
{
	background: #e0e0e0; 
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 24%, #e8e8e8 73%, #e6e6e6 79%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(24%,#ffffff), color-stop(73%,#e8e8e8), color-stop(79%,#e6e6e6), color-stop(100%,#e6e6e6));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 24%,#e8e8e8 73%,#e6e6e6 79%,#e6e6e6 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 24%,#e8e8e8 73%,#e6e6e6 79%,#e6e6e6 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 24%,#e8e8e8 73%,#e6e6e6 79%,#e6e6e6 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 24%,#e8e8e8 73%,#e6e6e6 79%,#e6e6e6 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );
	height:25px !important;
}

.nicEdit-main
{
	padding:0px;
	margin:0px;
	font-size: 15px;
	outline: none;
	width:100%;
}

.divAnotationEditor 
{
	width:602px;
	height:160px; 
	border:0px;
}

.divAnotationEditor > div
{
	width:602px !important;
}

.divAnotationEditor > div:nth-child(2) {
  height:120px;
}

.dialogApuntesContainer
{
	-webkit-border-bottom-left-radius: 4px !important;
	-webkit-border-bottom-right-radius: 4px !important;
	-moz-border-radius-bottomleft: 4px !important;
	-moz-border-radius-bottomright: 4px !important;
	border-bottom-left-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}

.nicEdit-panelContain
{
	-webkit-border-top-left-radius: 4px !important;
	-webkit-border-top-right-radius: 4px !important;
	-moz-border-radius-topleft: 4px !important;
	-moz-border-radius-topright: 4px !important;
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
}

.btDialogApuntes
{
	font-size:12px !important;
	font-weight:bold !important;
	height: 25px;
	position:relative;
	top: -10px;
	padding: 0px;
}*/

.ui-dialog-buttonpane
{
	border:0px;
	border-width:0px;
	height:28px;
}
.ui-dialog-title
{
	font-family:'Source Sans Pro' !important;
	font-size:13px !important;
	font-weight:bold !important;
	color: #333333;
	position:relative;
	top: 2px;
}

.ui-dialog
{
	-webkit-border-radius: 6px !important;
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
	border-radius: 6px !important;
}

.ui-dialog-buttonset
{
	font-size:12px;
}

.ui-widget-content .ui-icon-grip-diagonal-se
{
	background-image:none !important;
}
/*
#BotonCerrar, #BotonSalvar, .dlgHeader
{
	font-size:12px;
	font-weight:Bold;
	font-family: 'Source Sans Pro';
	color: #333333;
}

.fixedDialog
{
	padding:0px;
	margin:0px;
	position:fixed !important;
}

.divPatanllasSelector, .selectPantallas
{
	font-size:12px;
	width:100%;
	padding:0px;
	margin:0px;
}

.divPatanllasSelector 
{
	position:relative;
	top: -9px;
}

.divPatanllasSelector span
{
	position:relative;
	top:-7px;
}
.btDialogApuntes,*/
.ui-dialog-buttonset
{
	height: 30px !important;
}
/*
.divPatanllasSelector select, .divPatanllasSelector span
{
	color:#202020;
}

.selectPantallas 
{
	height:21px;
	border: solid 1px #000000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}



.nicEdit-cont-pane
{
	-webkit-border-radius: 3px;	-moz-border-radius: 3px;	border-radius: 3px;
	box-shadow: 1px 1px 5px #666;-webkit-box-shadow: 1px 1px 5px #666;  -moz-box-shadow: 1px 1px 5px #666;
}*/

/********************************************************************************************
** Mensajes Editor NicEdit
*********************************************************************************************/
/*.messageDialog
{	
	font-size:10px;	
	color: #666666;
	margin:-5px 0 10px 10px;
	float:left; width:150px; height:20px;
}


.div_dialog_confirm, .div_dialog_confirm_buttons 
{
	width:100% !important;
	margin:0px !important;
	padding:0px !important;
}

.div_dialog_confirm
{
	background-color:white !important;
	height:180px !important;
}

.div_dialog_confirm_msg, .div_dialog_confirm_buttons
{
	font-family:'Source Sans Pro' !important;
	text-align:center !important;
}

.div_dialog_confirm_msg
{
	width:390px !important;
	height:80px !important;
	font-size:13px !important;
	font-weight:bold !important;
	position:relative;
	left:20px;
	top:30px;
}

.div_dialog_confirm_buttons
{
	height:80px !important;
}

.div_dialog_confirm_buttons .botonConfirm
{
	float:left;
	width:80px;
	margin-right:10px;
	margin-top:30px;
}

.div_dialog_confirm_buttons .botonSiGuardarApuntes
{
	margin-left:80px;
}

.misApuntesGradient
{
	width: 142px; text-align: center; color: white; margin: auto; padding: 3px 0px 0px 8px; 
	border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	cursor:pointer;
	font-family:'Source Sans Pro';
	font-size: 14px;
	font-weight:bold;
	height:19px;
}

.misApuntes
{
	padding-left: 8px;
}
*/
/********************************************************************************************
** Grupo SM: Componente npdSlider con bocadillo
*********************************************************************************************/
/*.sliderPB {
	height:0.6em;
}

.bocadilloBox {
	position: absolute;
	z-index: 3;
	width: 35px;
	height: 15px;
	padding: 4px 0px 1px 0px;
	font-size: 13px;
	font-family:'Source Sans Pro';
	text-align: center;
}

.bocadilloFlecha {
	height: 0;
	width: 0;
	position: absolute;
	left: 0px;
	z-index: 11;
}

.bocadilloFlechaAbajo {
    position: relative;
	left: -6px;
	top: -8px;
	height: 0;
	width: 0;
	z-index: 10;
}*/

/* SCROLL PANEL */
.jspDrag
{
	background: #bbb;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.jspDrag:hover
{
	background: #999;
}