﻿

/********************************************************************************************
** CSS ESPECIFICO PARA VISTA PIZARRA DIGITAL
*********************************************************************************************/

/*en principio no utilizamos el general*/


/********************************************************************************************
** GENERALES
*********************************************************************************************/

body {font-size: 15px;}


/********************************************************************************************
** LAYOUT
*********************************************************************************************/

.actsm-pantalla
{
	height: 486px; 
	font-size:15px;
}

/*.recursos
{
	height: 486px; 
}

.recurso 
{
	font-size:15px;
	font-family:Arial,Helvetica,sans-serif;
}

.footNPD
{
	height:60px; 
}*/



.actsm-pie-imagen-div 
{
	display:block; 
	visibility:hidden; 
	background:#000;
	/*border: 1px solid #FFF;*/
}


/********************************************************************************************
** PANTALLA TEXTO
*********************************************************************************************/

.actsm-tituloPantallaProceso span 
{
	font-size:17px; 
	/*line-height:23px;*/
}

.actsm-tituloPantalla span
{
	font-size: 20px; 
	/*line-height:23px;*/
}
.actsm-contenidoTextoDiv SPAN.cabecera 
{
	font-size:17px; 
}

.actsm-contenidoTextoDiv .subtitulo
{
	font-size:16px;	
}

.actsm-contenidoTextoDiv span.subcabecera 
{
	font-size:15px;	
}