.units .analytics {
  position: relative;
}


.units .button-analytics  {
  top: -50px;
  right: 0;
}

.units .button-analytics svg {
  top: 55%;
  transform: translate(-40%, -45%);
}

.units .analytics-header {
  height: 130px;
}

.units .analytics-body {
  padding: 50px;
  color: #000000;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Open Sans';
}

.units  .analytics-percent {
  width: 180px;
  height: 130px;
  display: flex;
  float: right;
  background-color: #2B74B2;
  border-radius: 75px 0 0 75px;
  font-size: 28px;
  /* text-align: center; */
  vertical-align: middle;
  align-items: center;
  justify-items: center;
}

.units .analytics-percent span{
  margin: 0 auto;
}

.units .icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: relative;
  display: inline-block;
}

.units .icon-circle svg {
  width: 20px;
  height: 20px;
  color: #000000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.units .analytics-body .icon {
  vertical-align: middle;
  line-height: 1;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  color: #2B74B2
}

.units .analytics-body .percent {
  min-width: calc(100% - 60px);
  background-color: #EDEDED;
  height: 40px;
  vertical-align: middle;
  border-radius: 20px;
  position: relative;
  -webkit-transition: width 4s; /* Safari prior 6.1 */
  transition: width 4s;
}

.units .analytics-body .percent-value {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #2B74B2;
  border-radius: 20px;
  color: #FFFFFF;
  vertical-align: middle;
  padding: 0 10px;
  line-height: 40px;
}

.units .analytics-body .label {
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  vertical-align: middle;
}
.units .analytics-info {
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  vertical-align: middle;
  color: #2B74B2;
}
.analytics-panel {
  box-shadow: 0px 5px 10px #00000033;
  position: absolute;
  left: 0;
  top: auto;
  width: 100%;
  display: none;
}