<div class="analytics">
  <div class="button-circle color-primary button-analytics button-radius-br analytics-close svg-button"><i data-feather="x"></i></div>
  <div class="button-circle color-primary button-analytics button-radius-br analytics-open svg-button"><i data-feather="activity"></i></div>
  <div class="analytics-panel">
  <div class="row color-primary analytics-header mx-0">
    <div class="col col-sm-6 pl-0">
      <div class="row">
        <div class="col col-sm-2 text-right py-4 pr-0">
          <div class="icon-circle light svg-button"><i data-feather="activity"></i></div>
        </div>
        <div class="col col-sm-10 text-left py-4">
          <div>
            <h5>Tus estadísticas y progreso en Lengua y literatura</h5>
            <h6>1º ESO</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 text-right pr-0">
      <div class="analytics-percent"><span>58%</span></div>
    </div>

  </div>

    <div class="analytics-body">
      <div class="row py-2">
        <div class="col col-sm-6 label text-left">
          Lectura del libro
        </div>
        <div class="col col-sm-6 analytic text-left">
          <div class="icon d-inline-block"><i data-feather="alert-circle"></i></div>
          <div class="percent d-inline-block"><span class="percent-value" data-value="52%"></span></div>
        </div>
      </div>
      <div class="row py-2">
        <div class="col col-sm-6 label text-left">
          Actividades individuales realizadas
        </div>
        <div class="col col-sm-6 analytic text-left">
          <div class="icon d-inline-block"><i data-feather="alert-circle"></i></div>
          <div class="percent d-inline-block"><span class="percent-value" data-value="21%"></span></div>
        </div>
      </div>
      <div class="row py-2">
        <div class="col col-sm-6 label text-left">
          Actividades grupales realizadas
        </div>
        <div class="col col-sm-6 analytic text-left">
          <div class="icon d-inline-block"><i data-feather="alert-circle"></i></div>
          <div class="percent d-inline-block"><span class="percent-value" data-value="10%"></span></div>
        </div>
      </div>
      <div class="row py-2">
        <div class="col col-sm-6 label text-left">
          Participación en el glosario
        </div>
        <div class="col col-sm-6 analytic text-left">
          <div class="icon d-inline-block"><i data-feather="alert-circle"></i></div>
          <div class="percent d-inline-block"><span class="percent-value" data-value="10%"></span></div>
        </div>
      </div>
      <div class="row py-2">
        <div class="col col-sm-6 label text-left">
          Creación de apuntes
        </div>
        <div class="col col-sm-6 analytic text-left">
          <div class="icon d-inline-block"><i data-feather="alert-circle"></i></div>
          <div class="percent d-inline-block"><span class="percent-value" data-value="0%"></span></div>
        </div>
      </div>


    </div>
    <div class="analytics-body">
      <div class="row py-2">
        <div class="col col-sm-6 label text-left">
          Número de accesos al libro
        </div>
        <div class="col col-sm-6 analytic text-left">
          <span class="analytics-info">14</span>
        </div>
      </div>
      <div class="row py-2">
        <div class="col col-sm-6 label text-left">
          Tiempo en el libro
        </div>
        <div class="col col-sm-6 analytic text-left">
          <span class="analytics-info">2 horas 45 minutos</span>
        </div>
      </div>
      <div class="row py-2">
        <div class="col col-sm-6 label text-left">
          Tiempo medio por acceso
        </div>
        <div class="col col-sm-6 analytic text-left">
          <span class="analytics-info">12 minutos</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="row"></div>
</div>
