<div class="button-circle color-primary button-fullscreen button-radius-tr minimize svg-button">
  <i data-feather="minimize-2"></i>
</div>
<div class="button-circle color-primary button-fullscreen button-radius-tr maximize svg-button">
  <i data-feather="maximize-2"></i>
</div>