.unit-resources {
  margin-left: 300px;
  opacity: 0;
  display: none;
  position: fixed;
  top: 40px;
  overflow-y: auto;
  left: 0;
  background-color: white;
  width: calc(100vw - 300px);
  z-index: 5;
}
.unit-resources.show {
  opacity: 1;
  display: block;
  -webkit-animation-name: show-resources; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  animation-name: show-resources;
  animation-duration: 0.5s;
}

@-webkit-keyframes show-resources {
  from {opacity: 0;display:block;}
  to {opacity: 1;display:block;}
}

.view.unit.collapse .unit-resources{
  margin-left: 60px;
  width: calc(100vw - 60px);
}
.resources-list {
  height: 100vh;
  width: 100%;
  padding: 2vw;
  overflow: auto;
}
img.small-pic {
  height: 200px;
  width: 300px;
  padding: 10px;
  object-fit: cover;
  float: left;
}

.big-icon {
  background-color: #2B74B2;
  color: white;
  width: 40px;
  height: 40px;
  padding: 20px;
  border-radius: 100%;
  float: left;
  margin: 0 20px 0 0;
}

.big-icon svg.feather.feather-image {
  transform: translate(-50%, -50%);
}

.tit-resources h3 {
  font-weight: 600;
  font-size: 30px;
}

.tit-resources h4 {
  font-weight: 100;
  font-size: 30px;
  margin-left: 60px;
  padding-bottom: 20px;
}

.tit-resource-epigraph {
  width: 100%;
  border-bottom: solid 1px #EDEDED;
  margin-bottom: 10px;
}

.tit-resource-epigraph p {
  color: #2B74B2;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  clear: both;
}

.tit-resource-type p {
  font-size: 20px;
  font-weight: 600;
  clear: both;
}

.activity-card {
  height: 180px;
  width: 280px;
  margin: 5px 15px 5px 5px;
  text-align: center;
  float: left;
}

.activity-number {
  color: black;
  background-color: white;
  width: 40px;
  height: 40px;
  margin: 10px auto;
  line-height: 2.5;
  border-radius: 50%;
}

.resource-select {
  width: 25%;
  text-align: center;
  float: left;
  height: 100px;
  padding-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#resource-selectors {
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 10px;
  height: 100px;
  margin: 20px 0;
}

#resource-selectors .resource-select:not(:last-child) {
  background: linear-gradient(#ddd, #ddd) right / 1px 60% no-repeat;
}

#resource-selectors .resource-select.color-primary {
  background: var(--global-bg-color);
  background-repeat:no-repeat;
}

.view.note header .sm-dot svg {
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.unit-resources .btn {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 60px;
  border: 0;
  margin: 0 10px;
  border-radius: 20px;
  white-space: nowrap;
}

.unit-resources .btn.color-light {
  border: 1px solid #707070;
}

.unit-resources .tit-resources {
  max-width: 900px;
  margin: auto;
}