.view.unit {
  width: 100%;
  position: absolute;
  top: 40px;
}
@media screen and (max-width: 750px) {
  .view.unit {
    width: calc(100vw - 10px);
  }
}

.view.unit .unit-sidebar {
  position: fixed;
  top: 40px;
  left: 0;
  width: 300px;
  height: calc(100vh - 40px);
  z-index: 999;
  transition: all 0.3s;
  background-color: #FFFFFF;
  margin-left: 0;
  box-shadow: 0px 3px 6px #00000029;
}

/*.app.fullscreen .view.unit .unit-sidebar {
  top: 0;
  height: calc(100vh);
}*/

.unit-sidebar.menu-collapse .menu {
  display: none;
}

.unit-sidebar .panel-button {
  display: none;
}

.unit-sidebar.menu-collapse .panel-button {
  display: block;
}

.sidebar-footer .panel-button {
  height: 60px;
  background-color: #FFFFFF;
}

.sidebar-footer.show .panel-button {
  display: none;
}


.sidebar-footer .menu .list-group-item {
  background-color: inherit;
  vertical-align: middle;
  padding: 15px 20px;
  color: var(--global-color);
  border: none;
  font-size: 16px;
}

.sidebar-footer .menu .list-group-item svg {
  float: left;
}

.sidebar-footer .menu .list-group-item span {
  padding-left: 10px;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 5px 0 0;
}

.sidebar-footer .list-group-item span {
  margin-right: 10px;
}

.sidebar-header {
  padding: 20px;
  border-radius: 0 0 5px 0;
  background: transparent linear-gradient(70deg, #004B18 0%, #017E29 100%);
}
.sidebar-header .logo {
  height: 165px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.sidebar-header .row {
  margin: 0;
}

.button-radius-bl {
  border-radius: 0 50px 0 0;
  bottom: 0;
  left: 0;
}

#buttonToggleMenu svg {
  left: 35%;
  top: 65%;
  width: 25px;
  height: 25px;
}

#buttonCloseMenu {
  padding: 5px 5px 0 5px;
  cursor: pointer;
}

.sidebar-footer .menu .list-group-item:not(:last-child):before {
  width: 275px;
  height: 1px;
  background-color: rgba(255,255,255,.5);
  content: '';
  position: absolute;
  left: 10px;
  bottom: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

#buttonToggleSidebar {
  display: inline-block;
  float: right;
  cursor: pointer;
  top: 0;
}

#buttonToggleSidebar .button-open {
  display: none;
}


.view.unit.collapse #buttonToggleSidebar {
  transform: translateY(50px) translateX(-10px) rotate(-90deg);
  background-color: var(--global-bg-color);
}

.view.unit.collapse #buttonToggleSidebar .button-open{
  display: block;
}

.view.unit.collapse #buttonToggleSidebar .button-close{
  display: none;
}

.view.unit.collapse #buttonToggleSidebar svg {
  color: #FFFFFF;
  transform: translate(-10px, 10px) rotate(-90deg);
}

.sidebar-header .editor-toggle {
  height: 25px;
}

.view.unit .sidebar-header .unit {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

.view.unit .sidebar-header .info {
  color: var(--global-color);
}

.view.unit.collapse .sidebar-header .info {
  visibility: hidden;
}

.view.unit .unit-sidebar .epigraph {
  height: 100%;
  overflow: auto;
  font-size: 14px;
}
.view.unit.collapse .unit-sidebar .epigraph {
  overflow-x: hidden;
}

.view.unit .sidebar-body {
  height: calc(100% - 355px);
  padding-top: 5px;
}

.view.unit .unit-sidebar.menu-collapse .sidebar-body {
  height: calc(100% - 150px);
}

.view.unit.collapse .sidebar-body {
  height: calc(100% - 187px);
}
.view.unit .unit-sidebar .epigraph .list-group-item {
  border: 0;
  background-color: inherit;
  padding: 15px 20px 15px 60px;
  cursor: pointer;
}
.view.unit.collapse .unit-sidebar .epigraph .list-group-item {
  min-height: 45px;
}
.view.unit .unit-sidebar .epigraph .list-group-item:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 60px;
  border: #EDEDED 1px solid;
  width: calc(100% - 80px);
  background: transparent;
}

.view.unit .unit-sidebar .epigraph .list-group-item.selected:before,
.view.unit.collapse .unit-sidebar .epigraph .list-group-item:before {
  /*display: none;*/
}



.view.unit .unit-sidebar .epigraph .list-group-item.selected {
  font-weight: 800;
  vertical-align: middle;
  background-color: #FFFFFF;
  padding-right: 0;
}

.view.unit .unit-sidebar .epigraph .list-group-item .tit-section {
  display: none;
  padding: 5px;
}

.view.unit .unit-sidebar .epigraph .list-group-item.selected .tit-section {
  font-weight: normal;
  display: block;
}
.view.unit .unit-sidebar .epigraph .list-group-item.selected .tit-section.current {
  color:darkgreen;
}
.view.unit .unit-sidebar .epigraph .list-group-item.selected .tit-section:hover {
  color: #00B53F
}
.view.unit .unit-sidebar .epigraph .list-group-item .tit-epigraph.current {
  color:darkgreen;
}
.view.unit .unit-sidebar .epigraph .list-group-item .tit-epigraph:hover {
  color: #00B53F
}
.view.unit.collapse .unit-sidebar .epigraph .list-group-item.selected .tit-section {
  display: none;
}

.view.unit .unit-sidebar .tit-epigraph {
  margin-bottom: 10px;
}

.view.unit .unit-sidebar .epigraph .list-group-item .dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  position: absolute;
  top: 10px;
  left: 20px;
  border: 2px solid #000000;
  font-weight: 600;
}

.view.unit .unit-sidebar .epigraph .list-group-item.selected .dot {
  background: transparent linear-gradient(45deg, #004B18 0%, #017E29 100%);
  border: 0;
  color: #FFFFFF;
}

.view.unit .unit-sidebar .epigraph .list-group-item .minidot {
  position: absolute;
  height: 10px;
  border-radius: 50%;
  left: 30px;
  transform: translateY(6px);
  width: 10px;
  border: 1px solid #666666;
}

.before-current .minidot {
  background: transparent linear-gradient(45deg, #004B18 0%, #017E29 100%);
  border: 0;
}

/* .view.unit .unit-sidebar .epigraph .list-group-item .minidot.red {
  box-shadow: 0px 0px 3px red;
} */
.view.unit .unit-sidebar .epigraph .title {
  display: inline-block;
}

.view.unit.collapse .unit-sidebar .epigraph .title {
  display: none;
}

.view.unit.collapse .unit-sidebar {
  width: 60px;
}

.view.unit.collapse .sidebar-header,
.view.unit.collapse .sidebar-footer {
  background-color: #FAFAFA;
  color: #FFFFFF;
  visibility: hidden;
}

.menu-bottom {
  cursor: pointer;
}

ul.menu.list-groop {
  padding: 0;
}

#MenuNotes:before,
#MenuNewNote:before {
  display: none;
}

ul.menu.list-group {
  padding-bottom: 25px;
}

#MenuSummary svg {
  width: 17px;
  position: absolute;
  left: 0;
  top: -4px;
}

#MenuSummary svg:last-child {
  top: 1px;
  left: 5px;
}

#MenuLibro {
  font-weight: 600;
}

#MenuSummary span {
  position: relative;
  padding-left: 34px;
}