.unit-content {
  padding: 0 40px;
  margin: 0 auto;
  max-width: 900px;
  font-size: 20px;
  color: #666666;
}

.unit-content p,
.unit-content h1,
.unit-content h2,
.unit-content h3 {
  margin-bottom: 20px;
  margin-top: 0;
}

.unit-content h2 {
  color: #000000;
}


.sm-section-title p,
.sm-section-content p,
.sm-section-notebook-content,
.sm-video {
  margin: 0 auto 20px auto;
  line-height: normal;
}

.unit-content-container {
  margin-left: 300px;
  height: calc(100vh - 40px);
  overflow: auto;
  padding: 40px 0 0 0;
}

/*
.app.fullscreen {
  height: calc(100vh);
}*/

.view.unit.collapse .unit-content-container{
  margin-left: 60px;
}

.btn-end-unit {
  padding: 10px 20px;
  cursor: pointer;
  overflow: hidden;
}

.btn-end-unit span {
  position: relative;
}

.btn-end-unit span svg {
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#btn-prev span {
  left: -23px;
}

.btn-end-unit.btn-blank {
  cursor: auto;
}

.unit-nav-buttons {
  display: flex;
  border-radius: 5px 5px 0 0;
  max-width: 900px;
  margin: 40px 20px 0 20px;
}

.btn-end-unit h3 {
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn-end-unit p {
  font-size: 14px;
  margin-bottom: 10px;
}
.btn-end-unit * {
  padding: 0;
  margin: 0;
}
#btn-prev {
  text-align: right;
  background: transparent linear-gradient(287deg, #004B18 0%, #017E29 100%);
}

#btn-index {
  text-align: center;
}
#btn-index h3 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#btn-next {
  text-align: left;
  background: transparent linear-gradient(73deg, #004B18 0%, #017E29 100%);
}
#btn-prev:before,
#btn-next:before {
  content: '';
  background-color: #FFFFFF80;
  width: 1px;
  height: calc(100% - 20px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#btn-next:before {
  left: 0;
}

#btn-prev:before {
  right: 0;
}

@media screen and (max-width: 705px) {
  .btn-end-unit {
    width: 100%;
    float: inherit;
  }
  .unit-nav-buttons {
    display: block;
  }

  #btn-prev:before, #btn-next:before {
    position: relative;
    width: 100%;
    height: 1px;
    transform: none;
    left: initial;
    top: initial;
  }
  #btn-prev {
    text-align: left;
  }

  #btn-prev:after {
    border-right: none;
    border-bottom: 1px solid #FFFFFF80;
    content: '';
    display: block;
    height: 0;
    width: 100%;
    padding-top: 10px;
  }
  #btn-next:before {
    border-left: none;
    border-top: 1px solid #FFFFFF80;
    content: '';
    display: block;
    width: auto;
    padding-top: 10px;
    background: transparent;
  }
  #btn-prev.btn-end-unit.btn-blank, #btn-next.btn-end-unit.btn-blank {
    display: none;
  }
  #btn-index h3 {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}


.iframe-parent {
  width: 100%;
  margin-bottom: 40px;
}


.iframe-parent iframe {
  width: 100%;
  z-index: 100;
  min-height: 370px;
}

.sm-section-highlight-content {
  background: #004B180D 0% 0% no-repeat padding-box;
  border: 2px solid #004B18;
  border-radius: 5px;
  padding: 20px;
}

.sm-section-notebook-content {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px #00000033;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;
}

.sm-section-notebook-content .sm-section-subtitle h2 {
  font-size: 16px;
}
.activity-list-number {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.activity-list-number li {
  position: relative;
  display: block;
  padding: 20px 0 20px 2.75rem;
}

.activity-list-number li:not(:last-child) {
  border-bottom: 1px solid #EDEDED;
}

.activity-list-number li .dot-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #004B18 0% 0% no-repeat padding-box;
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  line-height: 30px;
  position: absolute;
  left: 0;
}

.sm-section-notebook-content .sm-section-title,
.sm-section-notebook-content .sm-section-subtitle {
  padding: 0 0 0 2.75rem;
  text-align: center;
}

.sm-section-notebook-content .sm-section-title h2,
.sm-section-notebook-content .sm-section-subtitle {
  font-size: 16px;
}

.sm-section-notebook-content .sm-section-title h2 {
  font-weight: 600;
}

.sm-section-notebook-content {
  position: relative;
  margin: 40px 0 !important;
}

.sm-section-notebook-content .section-icon {
  margin: auto;
  margin-top: -65px;
  margin-bottom: 10px;
  padding: 15px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px #00000033;
  width: 60px;
  text-align: center;
  border-radius: 50%;
}
.sm-section-notebook-content .sm-section-subtitle h2 {
  margin-bottom: 0;
}
.sm-carousel li.flipster__nav__item {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #666666;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}


.sm-carousel li.flipster__nav__item a{
  display: none;
}


.sm-carousel li.flipster__nav__item--current {
  border: none;
  background: transparent linear-gradient(45deg, #004043 0%, #00AEB5 100%) 0% 0% no-repeat padding-box;
}

.sm-resource {
  margin-bottom: 20px;
  position: relative;
}

.sm-carousel .flipster__nav {
  margin: 20px 0 0 0;
}

.sm-carousel .flipster__item img {
  max-height: 260px;
}

.flipster__nav__item {
  cursor: pointer;
}

.flipster--flat .flipster__item--past, .flipster--flat .flipster__item--future {
  opacity: 1;
  transform: translateY(40px);
}

.flipster__item__content {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.sm-activity-drop-img {
  padding: 33%;
  margin-bottom: 18px;
  background-color: #ededed;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  height: 160px;
}

.sm-activity-drop-img .icon{
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: center;
  font-size: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sm-activity-drop-img .icon svg{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);;
}

.sm-activity-img-input li {
  width: 33%;
}

.sm-activity-img-input input {
  width: 100%;
  font-size: 14px;
}

.sm-activity-drop-img .input-file {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

span.sm-html-activity-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  background: transparent linear-gradient(45deg, #004B18 0%, #017E29 100%);
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  line-height: 38px;
  top: 0;
}

span.sm-html-activity-icon svg {
  vertical-align: middle;
}

p.activity-title {
  padding-left: 60px;
}

.sm-activity-drag,
.sm-activity-drop{
  width: 100%;
  height: 260px;
}

.sm-activity-drag {
  width: 320px;
  margin: 0 auto;
}

.sm-activity-drop {
  text-align: center;
}
.sm-activity-drag-drop ul {
  list-style-type: none;
}

.blocks-drag img {
  width: 100%;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 5px;
}

.block-drag {
  width: 320px;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}


.block-drop {
  background: #EDEDED;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  height: 100%;
  margin: 0 5px;
  border: 2px dashed #666666;
}

.sm-activity-drop .block-drop {
  width: 45%;
}

.sm-activity-drop .block-drop:first-child {
  margin-left: 0;
}

.sm-activity-drop .block-drop:last-child {
 margin-right: 0;
}

.sm-activity-drop.bloks-3 .block-drop {
  width: 30%;
}

.block-drop:first-child {
  float: left;
}

.sm-activity-drop .block-drop .label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
  text-align: center;
  padding: 20px;
}

.block-drop:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
}

.block-drop[data-value='simple']:before {
  content: 'Máquinas simples';
}

.block-drop[data-value='complex']:before {
  content: 'Máquinas compuestas';
}

.block-drop:last-child {
  float: right;
}

.block-drop .block-drag{
  width: 90%;
  left:50%!important;
  top:50%!important;
  transform: translate(-50%, -50%);
}

.sm-accordion .card-header .icon {
  float: right;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.sm-accordion .card {
  margin: 5px 0;
  border: 0;
}

.sm-accordion .card-body  {
  padding: 0 1.25rem;
}

.sm-accordion .card-header {
  background-color: #FFFFFF;
  line-height: 40px;
  border: 0;
}


.sm-accordion .card.show .card-header h5{
  font-weight: 600;
}

.sm-accordion .card-header h5 {
  width: calc(100% - 60px);
  display: inline-block;
  font-weight: inherit;
}

.sm-accordion .card.show .card-header svg{
  transform: rotate(180deg) translate(-24px, -24px);
}

.sm-accordion .card-header:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 27px;
  background-color: #004B18;
  border-radius: 50%;
}

.sm-html-activity {
  position: relative;
}

.sm-video,
.sm-video video {
  width: 100%;
}

.sm-activity-drag-drop {
  margin: 0 auto 20px auto;
}

.sm-section-subtitle .sm-minidot {
  margin: 8px 20px 0 0;
  height: 15px;
  border-radius: 5px;
  background: transparent linear-gradient(68deg, #004B18 0%, #017E29 100%);
  width: 40px;
  float: left;
  vertical-align: middle;
  line-height: 30px;
}

.sm-dot.start-edit,
.sm-dot.stop-edit {
  position: fixed;
  left: inherit;
  top: inherit;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
  background: #FFFFFF;
  color: #000000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.1);
}

.sm-dot svg {
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sm-dot.stop-edit {
  background: #000000;
  color: #FFFFFF;
}

.sm-owner-section {
  padding: 40px 20px 0 20px;
  position: relative;
  border-radius: 5px;
  background-color: #FAFAFA;
  margin: 40px 0 20px 0!important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.1);
}


.sm-owner-section {
  min-height: 100px;
}

.sm-owner-section.edit .sm-content-edit {
  background-color: #000000;
}

.sm-owner-section.edit .sm-content-edit svg {
  color: #FFFFFF;
}

.sm-section-header {
  width: calc(100% - 40px);
  position: absolute;
  top: -20px;
}

.sm-section-options {
  display: none;
}

.unit-content-container.editing .sm-section-options{
  display: inline-block;
}

.sm-owner-section .sm-teacher {
  width: 40px;
  height: 40px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  line-height: 40px;
  text-align: right;
  font-size: 14px;
  color: #000000;
  float: left;
  background-color: #FFFFFF;
  border: 2px solid #eeeeee;
  border-radius: 25px;
  vertical-align: middle;
}

.unit-content-container.editing .sm-teacher {
  padding: 0 20px 0 50px;
  width: auto;
}

.sm-section .button-circle-unit {
  position: relative;
  color: #000000;
  cursor: pointer;
}
.sm-section .sm-teacher svg,
.sm-section .button-circle-unit svg{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
}

.sm-owner-section .sm-teacher-photo {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid #eeeeee;
  float: left;
  background-color: #000000;
  color: #FFFFFF;
  position: absolute;
  left: 0;
  cursor: pointer;
  top: 0;
}

.sm-section-options {
  float: right;
}

.sm-owner-section-creator {
  text-align: center;
  background-color: #FFF;
  box-shadow: none;
  border: 0;
  position: relative;
  margin: 20px 0;
}

.sm-owner-section-creator:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.sm-owner-section-creator .add-content {
  background-color: #FFFFFF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: center;
  font-size: 25px;
  position: relative;
  cursor: pointer;
}

.sm-owner-section-creator .add-content svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.sm-owner-section .medium-editor-insert-plugin.medium-editor-placeholder:after {
  padding: 0;
}

.unit-content-container:not(.editing) .sm-section.hidden {
  display: none;
}

.sm-section.hidden .sm-content-eye {
  display: none;
}

.sm-section.hidden .sm-content-eye-off {
  display: inline-block !important;
}

.sm-content-eye-off {
  background-color: #000000
}

.sm-content-eye-off svg {
  color: #FFFFFF;
}

.sm-section {
  padding: 40px 20px 20px 20px;
  display: inline-block;
  width: 100%;
  position: relative;
}

.unit-content-container.editing .sm-section {
  background-color: #FAFAFA;
  border: 2px solid #EDEDED;
  border-radius: 5px;
}

.sm-section.intro {
  padding-top: 0;
}

.unit-content-container.editing .sm-section.intro {
  padding-top: 20px;
}

.sm-section-title.intro {
  margin: 0 20px;
}

[contentEditable=true]:empty:not(:focus):not(.editor-text):before {
  color: #b3b3b1;
  font-style: italic;
}

.sm-owner-section .editable-title {
  font-size: 1.20em;
  font-weight: 600;
  margin: 20px 0;
  color: #000000;
}

.editable-content {
  display: inline-block;
  width: 100%;
}

.sm-owner-section.edit .sm-owner-section .editable-title {
  min-height: 36px;
}

.sm-owner-section.edit .editable-content {
  min-height: 50px;
}

.sm-accordion .card.show .card-header .icon {
  background-color: #004B18;
  color: #FFFFFF;
}

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show span {
  margin-top: 0;
}

.medium-interactive {
  padding-top: 75%;
  position: relative;
}

.medium-interactive iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}