<!-- Recursos -->
<div id="unit-resources" class="unit-resources">
    <div id="resources-list" class="resources-list">
        <div class="big-icon"><i data-feather="image"></i></div><div class="tit-resources"><h3>Recursos.</h3><h4>Las plantas</h4></div>
        <div class="tit-resource-epigraph"><p>1.1. Introducción</p></div>
        <div class="tit-resource-type"><p>Actividades interactivas</p></div>

        <section
                data-featherlight-gallery
                data-featherlight-filter="a"
        >
            <a href="resources/sm_050101_01_es.jpg"><img class="small-pic" src="resources/sm_050101_01_es.jpg"></a>
            <a href="resources/sm_050101_02_es.jpg"><img class="small-pic" src="resources/sm_050101_02_es.jpg"></a>
        </section>
    </div>
</div>
