<div class="unit-content-container">
  <div class="unit-content">
  </div>
  <span class="sm-dot start-edit"><i data-feather="edit-3"></i></span>
  <span class="sm-dot stop-edit" style="display: none;"><i data-feather="x"></i></span>
</div>