<!-- Sidebar -->
<nav class="unit-sidebar panel-list menu-collapse">
  <div class="sidebar-header color-primary">
    <div class="row">
      <div class="col col-12 p-0">
        <div class="info">
          <h5 id="sidebarUnitNumber" class="unit"></h5>
          <span id="sidebarUnitTitle" class="title"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-body">
    <ul id="contentList" class="epigraph list-group">
    </ul>
  </div>
  <div class="sidebar-footer color-primary">
    <div class="panel-button">
      <span id="buttonToggleMenu" class="button-circle button-radius-bl color-primary">
        <i data-feather="plus"></i>
      </span>
    </div>
    <ul class="menu list-group">
      <li>
        <span id="buttonCloseMenu" class="float-right">
          <i data-feather="x"></i>
        </span>
      </li>
      <li id="MenuLibro" class="menu-bottom list-group-item">
        <span><i data-feather="book-open"></i>Libro</span>
      </li>
      <li id="MenuResources" class="menu-bottom list-group-item">
        <span><i data-feather="loader"></i>Recursos</span>
      </li>
      <li id="MenuSummary" class="menu-bottom list-group-item">
        <span><i data-feather="square"></i><i data-feather="square"></i>Resumen</span>
      </li>
      <li id="MenuNotes" class="menu-bottom list-group-item" style="display: none;">
        <span><i data-feather="file-text"></i>Ver apuntes</span>
      </li>
      <li id="MenuNewNote" class="menu-bottom list-group-item" style="display: none;">
        <span><i data-feather="file-plus"></i>Nuevo Apunte</span>
      </li>
    </ul>
  </div>
  <div class="toggle">
    <span id="buttonToggleSidebar" class="button-circle button-radius-tr color-primary">
      <i class="button-open" data-feather="menu"></i>
      <i class="button-close" data-feather="x"></i>
    </span>
  </div>
</nav>
