.view.summary {
  background-color: #FAFAFA;
  overflow-y: auto;
  padding: 60px;
  position: absolute;
  width: 100vw;
}

#summary-content {
  margin: 0 auto;
  max-width: 900px;
  font-size: 20px;
  color: #666666;
}
.summary h2 {
  padding-left: 40px;
}
.summary h3 {
  color: black;
  font-size: 40px;
}

.summary h4 {
  color: black;
  font-size: 30px;
}

.summary p {
  padding-left: 20px;
}

.button-summary {
  border-radius: 50%;
  margin-left: 10px;
  line-height: 0.5;
  padding: 0 1px;
  background-color: black;
  border: 0 solid black;
  color: white;
}

.button-summary:hover {
  color: yellow;
}

.summary h2.think {
  font-weight: 100;
}

.summary .tit-summary {
  max-width: 900px;
  margin: auto;
  padding-bottom: 20px;
}