
<div id="summary" class="view summary">
    <div class="row tit-summary">
        <div class="col m2">
            <span class="sm-dot"><i data-feather="type"></i></span>
            <h2>Resumen</h2>
            <h2 class="think">Ciencias de la naturaleza</h2>
        </div>
    </div>
    <div id="summary-content">

    </div>
</div>