﻿@charset "UTF-8";

/* FONTS */
@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../data/fonts/sourcesanspro-regular-webfont.eot');
    src: url('../data/fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../data/fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../data/fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProSemiBold';
    src: url('../data/fonts/sourcesanspro-semibold-webfont.eot');
    src: url('../data/fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('../data/fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('../data/fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProBold';
    src: url('../data/fonts/sourcesanspro-bold-webfont.eot');
    src: url('../data/fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('../data/fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('../data/fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProItalic';
    src: url('../data/fonts/sourcesanspro-italic-webfont.eot');
    src: url('../data/fonts/sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/fonts/sourcesanspro-italic-webfont.woff') format('woff'),
         url('../data/fonts/sourcesanspro-italic-webfont.ttf') format('truetype'),
         url('../data/fonts/sourcesanspro-italic-webfont.svg#source_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProBoldItalic';
    src: url('../data/fonts/sourcesanspro-bolditalic-webfont.eot');
    src: url('../data/fonts/sourcesanspro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/fonts/sourcesanspro-bolditalic-webfont.woff') format('woff'),
         url('../data/fonts/sourcesanspro-bolditalic-webfont.ttf') format('truetype'),
         url('../data/fonts/sourcesanspro-bolditalic-webfont.svg#source_sans_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'smsymbolregular';
    src: url('../data/fonts/smsymbol-webfont.eot');
    src: url('../data/fonts/smsymbol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../data/fonts/smsymbol-webfont.woff') format('woff'),
         url('../data/fonts/smsymbol-webfont.ttf') format('truetype'),
         url('../data/fonts/smsymbol-webfont.svg#smsymbolregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
            font-family: PalotesAregular;
            src: url('../data/fonts/palotanr-webfont.eot');
            src: url('../data/fonts/palotanr-webfont.eot?#iefix') format('embedded-opentype'),
                 url('../data/fonts/palotanr-webfont.woff') format('woff'),
                 url('../data/fonts/palotanr-webfont.ttf') format('truetype'),
                 url('../data/fonts/palotanr-webfont.svg#palotesaregular') format('svg');
    font-weight: normal;
    font-style: normal;            
}
@font-face{
            font-family: PalotesBregular;
            src: url('../data/fonts/palotbnr-webfont.eot');
            src: url('../data/fonts/palotbnr-webfont.eot?#iefix') format('embedded-opentype'),
                 url('../data/fonts/palotbnr-webfont.woff') format('woff'),
                 url('../data/fonts/palotbnr-webfont.ttf') format('truetype'),
                 url('../data/fonts/palotbnr-webfont.svg#palotesbregular') format('svg');
    font-weight: normal;
    font-style: normal;            
}
@font-face {
	font-family: 'SM Infantil Cuadricula Puntos';
	src: url('../data/fonts/SMInfCuaPun.eot');
	src: local('☺'), url('../data/fonts/SMInfCuaPun.woff') format('woff'), url('../data/fonts/SMInfCuaPun.ttf') format('truetype'), url('../data/fonts/SMInfCuaPun.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SM Infantil Cuadricula';
	src: url('../data/fonts/SMInfCuaReg.eot');
	src: local('☺'), url('../data/fonts/SMInfCuaReg.woff') format('woff'), url('../data/fonts/SMInfCuaReg.ttf') format('truetype'), url('../data/fonts/SMInfCuaReg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SM Infantil Pauta Bold';
	src: url('../data/fonts/SMInfPB.eot');
	src: local('☺'), url('../data/fonts/SMInfPB.woff') format('woff'), url('../data/fonts/SMInfPB.ttf') format('truetype'), url('../data/fonts/SMInfPB.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SM Infantil Pauta Bold Italic';
	src: url('../data/fonts/SMInfPBI.eot');
	src: local('☺'), url('../data/fonts/SMInfPBI.woff') format('woff'), url('../data/fonts/SMInfPBI.ttf') format('truetype'), url('../data/fonts/SMInfPBI.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SM Infantil Pauta Italic';
	src: url('../data/fonts/SMInfPI.eot');
	src: local('☺'), url('../data/fonts/SMInfPI.woff') format('woff'), url('../data/fonts/SMInfPI.ttf') format('truetype'), url('../data/fonts/SMInfPI.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SM Infantil Pauta Puntos';
	src: url('../data/fonts/SMInfPP.eot');
	src: local('☺'), url('../data/fonts/SMInfPP.woff') format('woff'), url('../data/fonts/SMInfPP.ttf') format('truetype'), url('../data/fonts/SMInfPP.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SM Infantil Pauta Puntos Italic';
	src: url('../data/fonts/SMInfPPI.eot');
	src: local('☺'), url('../data/fonts/SMInfPPI.woff') format('woff'), url('../data/fonts/SMInfPPI.ttf') format('truetype'), url('../data/fonts/SMInfPPI.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SM Infantil Pauta';
	src: url('../data/fonts/SMInfPR.eot');
	src: local('☺'), url('../data/fonts/SMInfPR.woff') format('woff'), url('../data/fonts/SMInfPR.ttf') format('truetype'), url('../data/fonts/SMInfPR.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}