.navbar {
  padding: 0 20px;
  height: 60px;
}

.navbar .dot-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.navbar .dot-button i,
.navbar .dot-button svg {
  position:absolute;
  top:50%;
  bottom:50%;
  transform:translate(-50%, -50%);
}

.navbar .dot-button.gray,
.navbar .line-button.gray{
  background-color: #666666;
  color: #FFFFFF;
}

.navbar .line-button {
  display: inline-block;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  border: 0;
  padding: 0;
  margin: 0 0 5px 0;
  vertical-align: middle;
  cursor: pointer;
}
.navbar .line-button.think {
  height: 5px;
  border-radius: 2px;
}

.navbar .line-button.right {
  margin: 0 5px 0 0;
}

.navbar .nav-item:not(:last-child) {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0 30px 0 0;
}