<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <span class="line-button gray svg-button"></span>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <span class="line-button think right gray svg-button"></span>
      </li>
      <li class="nav-item">
        <span class="line-button think right gray svg-button"></span>
      </li>
      <li class="nav-item">
        <span class="line-button think right gray svg-button"></span>
      </li>
      <li class="nav-item">
        <span class="dot-button gray svg-button"><i data-feather="user"></i></span>
      </li>
    </ul>
  </div>-->
</nav>

