﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.eot?") format("eot"), url("../fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
