<div class="view units show">
  <section class="header color-primary">
    <div class="row logo align-items-center">
      <div class="thumb"></div>
      <div class="col col-12 contain-size">
        <img class="inits-logo" src="icons/massavia_logotipo-white.png">
      </div>
      <div class="col col-12 pb-3">
        <div class="m-5">
          <h2 class="title"></h2>
          <h5 class="level"></h5>
        </div>
        <div>
          <button class="btn btn-light back">Volver</button>
          <button class="btn color-secondary start">Empecemos</button>
        </div>
      </div>
    </div>
    @@include('view/analytics/analytics.html')
  </section>
  <section class="main">
    <div class="units-list">
      <div class="intro"></div>
    </div>
  </section>
</div>