.units section.header {
  height: 340px;
  text-align: center;
}

.unit-buttons {
  height: 60px;
  color: #FFFFFF;
}

.unit-buttons .col{
  vertical-align: middle;
  line-height: 60px;
  cursor: pointer;
}

.units .header .logo {
  height: 100%;
  font-family: 'Open Sans';
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.units .header .logo .thumb {
  background-size: cover;
  position: absolute;
  width: 100%;
  height: calc(100% - 10px);
  margin: 0;
  padding: 0;
  content: '';
  left:0;
  top: 0;
  opacity: .6;
  background-position: center;
}

.units .btn {
  font-size: 18px;
  font-weight: 600;
  padding: 8px 60px;
  border: 0;
  margin: 0 10px;
  border-radius: 20px;
}

img.inits-logo {
  width: 85px;
}

.contain-size {
  contain: size;
}
.button-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  text-align: center;
  cursor: pointer;
}

.button-circle svg {
  position: absolute;
  left: 60%;
  top: 40%;
  transform: translate(-40%, -60%);
  width: 20px;
  height: 20px;
}

.button-circle.white {
  background-color: #ffffff;
}
.button-circle.white svg {
  color: #000000;
}


.button-fullscreen {
  top: 40px;
}

/*
.app.fullscreen .button-fullscreen{
  top: 0;
}*/

.button-radius-tr {
  border-radius: 0 0 0 50px;
}

.button-radius-br {
  border-radius: 50px 0 0 0;
}

.button-radius-bl {
  border-radius: 0 50px 0 0;
}

.units-list {
  padding: 50px;
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Open Sans';
}

.units-list .thumb {
  min-width: 65px;
  min-height: 65px;
  object-fit: cover;
}

.units-list .label-name,
.units-list .label-title {
  display: block;
}

.units-list .label-name {
  font-size: 20px;
  font-weight: 600;
}

.units-list .col {
  vertical-align: middle;
}

.units-list .list-group-item {
  border: 0;
}


.button-circle-unit {
  width: 40px;
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-left: 20px;
  border-radius: 50%;
  color: #000000;
  line-height: 40px;
  text-align: center;
  font-family: 'Open Sans';
}

.button-circle-unit.expand ,
.button-circle-unit.collapse {
  cursor: pointer;
}

.button-circle-unit svg{
  color: #000000;
}

.button-circle-unit.percent {
  font-size: 12px;
  font-weight: 600;
}
.button-circle-unit.check {
  border: 3px solid #00B53F;
  box-shadow: none;
  vertical-align: middle;
  line-height: 34px;
  display: none;
}
.button-circle-unit.check svg{
  color: #00B53F;
}

.units-list .list-group-item[data-percent='100'] .button-circle-unit.percent {
  display: none;
}

.units-list .list-group-item[data-percent='100'] .button-circle-unit.check {
  display: inline-block;
}

.units-list .list-group-item.epigraph {
  margin: 0 90px;
  cursor: pointer;
  border-bottom: 1px solid #EDEDED;
}

.units-list .list-group-item.epigraph {
  margin: 0 90px;
  cursor: pointer;
  border-bottom: 1px solid #EDEDED;
  box-shadow: none;
}

.units-list .list-group-item.epigraph,
.units-list .unit-buttons {
  display: none;
}

.units-list .list-group-item.epigraph:hover,
.units-list .list-group-item.epigraph:hover svg{
  font-weight: 800;
  color: #000000;
}
.units-list .list-group-item.epigraph:hover .svg-button {
  margin-right: -5px;
}

.units .list-group {
  border-radius: 5px;
  overflow: hidden;
}

.units .list-group.expanded {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.1);
}

.units-list .list-group-item.epigraph.expanded,
.units-list .unit-buttons.expanded{
  display: block;
}

.units .list-group-item.expanded .button-circle-unit.expand {
  display: none;
}

.units .list-group-item.expanded .button-circle-unit.collapse {
  display: inline-block;
}

.units .header .logo {
  border-top: 0;
}

.units-list .col:last-child:before {
  content: '';
  background: #FFFFFF;
  width: 1px;
  height: calc(100% - 20px);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.units-list .col:first-child:before {
  content: '';
  background: #FFFFFF;
  width: 1px;
  height: calc(100% - 20px);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.units .intro {
  padding: 0 80px 30px;
}

@media screen and (max-width: 700px) {
  .units .intro {
    padding: 0;
  }

  .units .units-list {
    padding: 40px;
  }

  .list-group-item {
    padding: 0.75rem;
  }

  .button-circle-unit {
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-left: 15px;
  }
  .button-circle-unit.check {
    line-height: 20px!important;
  }
  .button-circle-unit.check svg{
    width: 15px;
    height: 15px;
  }


  .units-list .list-group-item.epigraph {
    margin: 0;
  }
  .units .logo h2 {
    font-size: 1.5rem;
  }

  .units-list .label-name {
    font-size: 16px;
  }
}

@media screen and (max-width: 560px) {
  .units .unit-buttons span {
    display: none;
  }
  .units .unit-buttons .col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    width: 100%;
    text-align: center!important;
  }

  .units .unit-buttons .col:first-of-type {
    padding-left: 0;
  }

  .units .unit-buttons .col:last-of-type {
    padding-right: 0;
  }

  .units .unit-buttons {
    margin: 0;
  }

  .units .logo button {
    padding: 8px 40px;
  }
}
